.mini-count, .wishlist-count {
    color: black;
    background-color: #d4c4bf;
}

.product-info .price ins, .single-product-top .prices .new-price, .single-product-top .prices ins {
    color: #900;
}

.entry-summary a {
    color: #3e2922;
}

.add-to-cart-form form button.button.disabled {
    opacity: 1 !important;
    background: #dad9d9 !important;
    color: black !important;
}

ul.nav li.current-menu-item a {
    color: #825e4f;
}

h2.best-match {
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    margin-top: 35px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.best-sellers-container h1, .best-sellers-container p {
    text-align: center;
}

.new-flats h1 {
    text-align: center;
}

h2.english-text {
    margin-top: 10px;
    margin-bottom: 0;
}