/*
 Theme Name:   B-Unique Getraffic Theme
 Description:  B-Unique Getraffic Theme
 Author:       Yaniv Tabibi
 Author URI:   https://www.yanivt.com
 Template:     getraffic
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
*/
*, html, body {
    font-family: 'NarkisBlockMFW', 'Heebo', sans-serif;
    font-size: 16px;
}

.bu-button {
    background-color: #d3b4aa;
    font-weight: bold;
    text-align: center;
    color: #000;
}
.bu-button.wide {
    padding: 5px 10px;
}

/** Menu **/
ul.sub-menu .container {
    display: flex;
    padding: 0;
}
.nav-right, .menubar .menu-right {
    float: none;
    justify-content: center;
}
.nav-right li, .nav-left li {
    float: none;
}
.nav-right li a {
    color: #000;
}

a.button-social-login-facebook {
    background-image: url(assets/images/fb.jpg) !important;
    text-indent: -99999px;
    display: block !important;
    background-position: center !important;
}

a.button-social-login-facebook span {
    display: none !important;
}

.wc-social-login.form-row-wide p {
    display: none;
}

.footer {
    background-color: #f3f3f3;
}
@media screen and (max-width: 768px) {
    .footer {
        padding-bottom: 10px;
    }
}    
.product-wrapper .thumb-wrapper {
    position: relative;
}
.product-wrapper .thumb-wrapper .thumb-overlay a {
    width: auto;
}
.thumb-wrapper .prod-thumb-bottom {
    display: block; /* to see wishlist icon */
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
}
a.quickview {
    display: none;
}
.thumb-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.6);
    display: none;
}
.product-wrapper .thumb-wrapper:hover .thumb-overlay {
    display: flex;
}
.empty_cart_banners .thumb-wrapper:hover .thumb-overlay {
    display: flex;
}
.shop-button {
    border: 1px solid white;
    color: #FFF;
    font-size: 14px;
    font-weight: 100;
    padding: 7px 25px;
}
.product-info h1.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    text-align: center;
}
.product-info span.price {
    direction: ltr;
    text-align: center;
    display: block;
}
.product-samples .product-wrapper .product-info{
    text-align: center;
} 
.product-samples .product-wrapper .product-info span.price{
    display: initial;
    color: #990000;
    padding-right: 5px;
} 
.product-samples .product-wrapper .product-info span.regular-price{
    text-decoration: line-through;
} 

a.images-nav-back,
a.images-nav-next
{
    position: absolute;
    display: block;
    width: 80px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    z-index: 3;
    background-color: rgb(255, 255, 255, 0.6) !important;
}

a.images-nav-back
{
    background: transparent url('assets/images/arrows_right.png') no-repeat center center;
    left: auto;
}
a.images-nav-next
{
    background: transparent url('assets/images/arrows_left.png') no-repeat center center;
    right: auto;
    left: -3px;
}

@media screen and (max-width: 768px) {
    .xsell-products .thumb-wrapper {

    }
}

.xsell-products .thumb-wrapper {

}
/* the slides */
.slick-slide {
    margin-left:35px;
}
/* the parent */
.slick-list {
    margin-left:-36px;
}

nav.woocommerce-breadcrumb {
    text-align: left;
    margin: 10px 0;
}


.product-reviews {
    background-color: #fafafa;
    text-align: center;
    padding: 40px;
}

.product-reviews h1 {
    color: #000;
    text-transform: capitalize;
    font-size: 36px;
}

.tony-button-white, p.form-submit input.submit {
    border: 2px solid black;
    background-color: white;
    padding: 5px 15px;
    display: inline-block;
}

.woocommerce-Reviews-title {
    display: none;
}
.woocommerce-Reviews #comments {
    border-top: 1px solid #8e8185;
    margin-top: 20px;
}

ul.commentlist {
    padding: 0;
}
ul.commentlist li
{
    list-style-type: none;
}
.comment_container {
    padding: 20px 48px;
    margin: 20px 0;
    justify-content: space-between;
    position: relative;
}

.comment_container time {
    position: absolute;
    left: 40px;
    display: block;
    top: 20px;
}

.comment_container img.avatar{
    display: none;
}

.comment_container .description {
    text-align: right;
}
.comment_container .star-rating
{
    display: block;
    text-align: right;
    margin-bottom: 5px;
}
.comment_container p.meta {
    width: 200px;
}
span.comment-reply-title {
    display: none;
}

div.comment-form-rating label, p.comment-form-comment label
{
    float: right;
    margin-left: 15px;
}

p.form-submit{
    text-align: right;
}
.add-comment {
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 20px auto;
    border: 2px solid #988350;
}
div#review_form {
    display: none;
}
.star-rating.average {
    float: none;
    margin: auto;
}

.searchbox .search-value {
    display: none;
}

nav.woocommerce-breadcrumb {
    display: none !important;
}

.woo-variation-items-wrapper {
    text-align: center;
}

ul.variable-items-wrapper {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: baseline;
}
select.woo-variation-raw-type-button + ul.variable-items-wrapper {
    justify-content: flex-start;
}
ul.variable-items-wrapper.image-variable-wrapper li {
    border: 1px solid #c5c5c5;
    border-radius: 300px;
    margin: 5px 0 0 10px;
    padding: 12px 6px;
}

ul.variable-items-wrapper.button-variable-wrapper li {
    border: 1px solid #c5c5c5;
    margin: 5px 0 0 10px;
    padding: 2px 5px;
}

ul.variable-items-wrapper.button-variable-wrapper li.selected {
    background-color: #ebebeb;
}

ul.variable-items-wrapper.image-variable-wrapper li.selected {
    border: 1px solid black;
    zoom: 1.2;
}

ul.variable-items-wrapper li.disabled {
    background:
            /*linear-gradient(to top left,*/
            /*rgba(0,0,0,0) 0%,*/
            /*rgba(0,0,0,0) calc(50% - 0.8px),*/
            /*rgba(0,0,0,1) 50%,*/
            /*rgba(0,0,0,0) calc(50% + 0.8px),*/
            /*rgba(0,0,0,0) 100%),*/
            linear-gradient(to top right,
            rgba(100,100,100,0) 0%,
            rgba(100,100,100,0) calc(50% - 0.8px),
            rgba(100,100,100,1) 50%,
            rgba(100,100,100,0) calc(50% + 0.8px),
            rgba(100,100,100,0) 100%);
}
ul.variable-items-wrapper.image-variable-wrapper li img {
    width: 40px;
}
.variations-selector select
{
    display: inline-block !important;
    border: 0;
    -webkit-appearance: none;
}

.entry-summary .quantity {
    display: none !important;
}

/*---------------------- delivery --------------------*/

.sidemenu{
    display: flex;
    margin: 100px 0;
}
.sidemenu-menu{
    background: url(assets/images/gold-line.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 40px;
    width: 30%;
}
.sidemenu-menu ul{
    padding: 50px 0;
}
.sidemenu-menu ul li{
    padding: 20px 50px 20px 0;
}
.sidemenu-menu ul li.current-menu-item{
    background: url(assets/images/selected-menu-item.png);
    background-repeat: no-repeat;
    background-position: right;
}
.sidemenu-menu ul li.current-menu-item a{
    color: #000;
}
.sidemenu-menu ul li a{
    color: #999999;
}
.sidemenu-content{
    padding-left: 200px;
}
.sidemenu-content p{
    direction: rtl;
}
.sidemenu-banner{
    position: relative;
    display: flex;
    justify-content: center;
}
.sidemenu-banner img{
    width: 100%;
}
.sidemenu-banner h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
@media screen and (max-width: 480px){
    .sidemenu-menu{
        display: none;
    }
    .sidemenu-content {
    padding-left: 15px;
}
}

/*---------------------- Thank you Page --------------------*/

p.thankyou-text{
    text-align: center;
    font-size: 20px;
}
.thankyou-button{
    text-align: center;
    color: #000;
}
.thankyou-button a{
    padding: 11px 23px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #5c5c5c;
    background: #f6f0ed;    
}


/*---------------------- Product Popup --------------------*/

.popup-top{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.popup-left, .popup-right{
    text-align: center;
    padding: 0 30px;
}
.popup-left{
    margin-top: 25px;
}
.popup-right{
    margin-top: 50px;
}
.popup-right h1{
    margin-bottom: 0px;
}
.popup-container img{
    margin-bottom: 1rem;
}
.popup-container .popup-foot img{
    width: 30%;
    height: auto;
}
.popup-container p{
    font-size: 14px;
}
.popup-table table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.popup-table table tr{
    background: #f1e8e3;
}
.popup-table table tr th, .popup-table table tr td{
    text-align: center;
}
.popup-table table tr td, .popup-table table tr th{
    font-size: 14px;
    padding: 7px 0px;
    font-weight: bold;
}
.popup-table table tr td:last-child, .popup-table table tr th:last-child {
    padding-left:40px;
}
.popup-table table tr td:first-child, .popup-table table tr th:first-child {
    padding-right:50px;
    text-align: right;
}

.popup-line{
    width: 8px;
}
@media screen and (max-width: 768px){
    .popmake {
        width: 90% !important;
        top: 30px !important;
    }
    .popup-top{
        flex-direction: column;
    }
    .popup-line{
        display: none;
    }
    .popup-table table, thead, tbody, th, td, tr { 
		display: block; 
	}	
	/* Hide table headers (but not display: none;, for accessibility) */
	.popup-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}	
	.popup-table tr { border: 1px solid #ccc; }
	
	.popup-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding: 5px 0 5px 50% !important; 
	}
	.popup-table table tr td:last-child {
          padding-left: 50%;
        }
    .popup-table table tr td:first-child, .popup-table table tr th:first-child {
    text-align: center;
}
	.popup-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.popup-table td:nth-of-type(1):before { content: "מידת נעליים"; }
	.popup-table td:nth-of-type(2):before { content: "35"; }
	.popup-table td:nth-of-type(3):before { content: "36"; }
	.popup-table td:nth-of-type(4):before { content: "37"; }
	.popup-table td:nth-of-type(5):before { content: "38"; }
	.popup-table td:nth-of-type(6):before { content: "39"; }
	.popup-table td:nth-of-type(7):before { content: "40"; }
	.popup-table td:nth-of-type(8):before { content: "41"; }
	.popup-table td:nth-of-type(9):before { content: "42"; }
	.popup-table td:nth-of-type(10):before { content: "43"; }
}

/*---------------------- Myaccount Menu --------------------*/

nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-addressbilling{
	background: rgba(0, 0, 0, 0) url(assets/images/billing-myaccount-image.png) !important;
    background-repeat: no-repeat !important;
    background-position: 94% center !important;
    background-size: 7% auto !important;
}
nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active{
	background-color: #f2e8e2 !important;
}
@media screen and (max-width: 768px){
    nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-addressbilling{
    background-position: 95% center !important;
    background-size: 5% auto !important;
}
    nav.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link{
    background-size: 5% auto !important;
}
}
nav.woocommerce-MyAccount-navigation ul{
    padding: 0;
    border: none;
    border-top: 1px solid #7f7f7f;
    border-bottom: 1px solid #7f7f7f;
    border-radius: 0;
}
nav.woocommerce-MyAccount-navigation ul li {
    border-top: 1px solid #7f7f7f;
    background-position: 95% center !important;
}
nav.woocommerce-MyAccount-navigation ul li:hover {
    background-color: #f2e8e2 !important;
}
nav.woocommerce-MyAccount-navigation ul li:first-child, nav.woocommerce-MyAccount-navigation ul li:last-child {
    border-radius: 0;
}
nav.woocommerce-MyAccount-navigation ul li a {
    padding: 14px 49px 13px 0;
    font-size: 14px;
}
.woocommerce-MyAccount-content{
    background: rgba(0, 0, 0, 0) url(assets/images/myaccount-background.jpg);
    background-size: cover;
    background-position: bottom center;
    padding: 25px 40px;
    position: relative;
}
.myaccount-text{
    position: absolute;
    right: 30px;
    bottom: 40px;
    width: 280px;
    text-align: left;
    line-height: 56px;
    font-weight: bold;
}
.myaccount-text p{
    color: #fff;
    font-size: 65px;
}
.myaccount-topicon-text{
    font-size: 17px;
}
.logout-link{
    color: #990000;
    text-decoration: underline;
}
.account_navigation{
    margin-top: 35px;
    margin-right: 3px;
}
.woocommerce-MyAccount-navigation{
    margin-top: 24px;
}
@media screen and (max-width: 768px){

    nav.woocommerce-MyAccount-navigation ul li a {
    padding: 15px 12vw 15px 0px;
    }
    .myaccount-text{
        right: 5vw;
        bottom: 4vw;
        width: 31vw;
        line-height: 7vw;
    }
.myaccount-text p{
        font-size: 7vw;
    }
}
/*---------------------- Myaccount Details --------------------*/
.bunique-edit-account{
    background: rgba(0, 0, 0, 0) url(assets/images/myaccount-frame.png);
    background-size: 100%;
    padding: 0px 0px 80px 0px;
    position: relative;
    background-repeat: no-repeat;
}
.bunique-edit-account form{
    width: 50%;
    margin: auto;
}
.bunique-edit-account .woocommerce-MyAccount-user{
    text-align: center;
    margin: 30px 0;
}
.bunique-edit-account .woocommerce-MyAccount-user img{
    width: 6%;
}
.bunique-edit-account .woocommerce-MyAccount-user h3{
    font-size: 24px;
    font-weight: bold;
}
.bunique-edit-account .woocommerce-EditAccountForm .form-row {
    padding: 10px 10px !important;
    border: 1px solid #000;
    margin-bottom: 15px;
}
.bunique-edit-account .woocommerce-EditAccountForm input.input-text {
    border: none;
    padding: 0;
}
.woocommerce .bunique-edit-account form .form-row label {
    line-height: 0;
    position: absolute;
    margin-bottom: 0;
    color: #999999;
    font-size: 10px;
}
.woocommerce .bunique-edit-account form .form-row input.input-text, .woocommerce .bunique-edit-account form .form-row textarea, .save_address{    
    text-align: center;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
    width: 48%;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    padding: 0.8em 4em;
    border-radius: 0;
    background: #d6c4bd;
}
.bunique-edit-account .woocommerce-EditAccountForm .form-row.account_phone{
    width: 67%;
    float: right;
}
.bunique-edit-account .woocommerce-EditAccountForm .form-row.account_phonecode{
    width: 33%;
    float: right;
    padding: 10px 10px 9px !important;
    border-right: none;
}
.bunique-edit-account .woocommerce-EditAccountForm .form-row.account_phonecode select{
    border: none;
    font-size: 15px;
}
@media screen and (max-width: 768px){
    .bunique-edit-account{
        background: none;
    }
    .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
        width: 100%;
    }
    .bunique-edit-account form {
        width: 90%;
    }
}
/*---------------------- Myaccount Wishlist --------------------*/

.woocommerce-wishlist-content .products {
    grid-template-columns: repeat(3, 300px);
}
.wishlist-add-to-cart ul, .wishlist-add-to-cart .quantity, .wishlist-add-to-cart .reset_variations{
    display: none !important;
}
.wishlist-add-to-cart .woo-variation-items-wrapper{
    text-align: initial;
}
.wishlist-add-to-cart label{
    width: 12%;
}
.wishlist-add-to-cart label, .wishlist-add-to-cart select, .wishlist-add-to-cart select option{    
    font-size: 14px;
}
.wishlist-add-to-cart select{
    width: 86%;
    border-bottom: 1px solid #ccc;
    background: #fff url(assets/images/arrow_black_down.png);
    background-repeat: no-repeat;
    background-position: 3% center;
    padding: 8px 10px 8px 0;
}
.wishlist-add-to-cart select:last-child{    
    border-bottom: none;
    
}
.woocommerce-wishlist-content .product-wrapper .soldout, .woocommerce-wishlist-content .product-wrapper .lowstock{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    opacity: 0.8;
    padding: 10px 0;
}
.woocommerce-wishlist-content .product-wrapper .soldout{
    background: #f8ebee;
}
.woocommerce-wishlist-content .product-wrapper .lowstock{
    background: #fdeed9;
}
.woocommerce-wishlist-content .product-wrapper .soldout img, .woocommerce-wishlist-content .product-wrapper .lowstock img{
    padding-left: 15px;
}
.woocommerce-wishlist-content .product-wrapper .product-info{
    margin: 15px 0 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.woocommerce-wishlist-content button.button{
    width: 100%;
    background-color:#000 !important;
    padding: .8em 1em !important;
    border: none;
    color: #fff;
    cursor: pointer;
}
.woocommerce-wishlist-content .product-price{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: baseline;
}
.woocommerce-wishlist-content .product-price .prices{
    display: flex;
}
.woocommerce-wishlist-content .product-price .prices .new-price{
    margin-right: 10px;
    color: #990000;
}
.woocommerce-wishlist-content .woocommerce-Price-currencySymbol{
    font-size: 16px;
}
.woocommerce-wishlist-content .wishlist-add-to-cart button.button.disabled {
    opacity: 0.1;
}
    @media screen and (max-width: 768px){
        .woocommerce-wishlist-content .products, .products.woocommerce-wishlist-content {
            grid-template-columns: repeat(1, 400px);
            justify-content: center;
        }
    }
    @media screen and (max-width: 480px){
        .woocommerce-wishlist-content .products, .products.woocommerce-wishlist-content {
            grid-template-columns: repeat(1, 300px);
            justify-content: center;
        }
    }
/*---------------------- Contact Form --------------------*/
    .contact-banner img{
        width: 100%;
    }
    .contact-title{
        font-size: 20px;
    }
    .contact-form{
        width: 800px;
        margin: 38px auto 0;
    }
    .contactus-form{
        display: flex;
        justify-content: space-between;        
    }
    .contactus-form .wpcf7-not-valid-tip{
        position: absolute;
        top: 3px;
        color: #0000ff;
        left: 10px;
        width: max-content;  
        font-size: 12px;
    font-weight: bold;
    }
    .contactus .wpcf7-validation-errors{
        display: none !important;
    }
    .fields{
        width: 45%;
    }
    .field-message{
        width: 46%;
        text-align: center;
    }
    .field-message span+p{
        display: none;
    }
    .field-message textarea{
        width: 98%;
        height: 63%;
    }
    .field-message div{
        font-size: 12px;
        margin-top: 9px;
    }
    .contactus-form select, .contactus-form input{
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .contactus-form input{
        padding: 7px 5px;
    }
    .contactus-form select{
        padding: 10px 5px;
    }
    .contactus-form .phone-code, .contactus-form .phone-number{
        float: left;
    }
    .contactus-form .phone-code select{
        padding: 10px 23px;
    }
    .contactus-form .phone-number{
        width: 75%;
    }
    .contactus-form .phone-code{
        width: 25%;
    }
    .contactus-form input[type=submit]{
        width: auto;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 38px;
        margin-top: 17px;
    }
    .contactus-form input[type=file]{
        color: transparent;
    }
    .contactus-file{
        display: flex;
        width: 100%;
        align-items: baseline;
    }
    label.upload span{
        font-size: 14px;
    }
    .contactus-form input::-webkit-input-placeholder {color:#000;}
    .contactus-form textarea::-webkit-input-placeholder {
        font-size: 12px;
        font-weight: bold;
        padding: 10px 10px 0 0;
}
    ::-webkit-file-upload-button {
          background: none;
          border-radius: 5px;
          border: 1px solid #ccc;
          font-size: 14px;
        }
    ::-webkit-file-upload-label {
          background: black;
          color: red;
          padding: 1em;
        }
    .contact-details{
        text-align: center;
        margin-top: 50px;
    }
    .contact-icons{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .contact-icon{
        padding: 40px
    }
    .contact-icon-image{
        width: 65px;
        height: 65px;
        margin: auto;
    }
    .contact-icon-image img{
        margin: auto;
    }
    .contact-bottom-title{
        background-color: #f1e8e3;
        display: inline;
        padding: 0 90px;
        font-size: 22px;
    }
    .contact-bottom-subtitle{
        font-size: 18px;
    }

    @media screen and (min-width: 769px){
        .not-active {
           pointer-events: none;
           cursor: default;
        }
    }
    @media screen and (max-width: 768px){
        .contact-form{
            width: auto;
        }
        .contactus-form {
            flex-direction: column;
        }
        .fields, .field-message{
            width: 100%;
        }
        .contact-icon {
            padding: 20px !important;
        }
    }
    @media screen and (max-width: 480px){
        .contact-icons{
            justify-content: space-between;
        }
        .contact-icon {
            padding: 0 !important;
        }
        .contact-bottom-title {
            padding: 0 50px;
        }
        .contactus-form .phone-code select {
            padding: 10px 10px;
        }
    }
/*---------------------- Contact Form Thankyou--------------------*/
    .contact-thankyou-imagetop img{
        width: 83%;
/*        padding-right: 50px;*/
    }

    .contact-thankyou-texttop{
        font-size: 23px;
/*        padding-right: 64px;*/
        margin-top: -12px;
    }
    .contact-thankyou-textbottom{
/*        padding-right: 67px;*/
        font-size: 15px;
        margin-top: -12px;
    }
    .contact-thankyou-button a{
        border-radius: 0;
/*        margin-right: 62px;*/
        color: #999 !important;
        border: 1px solid #999 !important;
        padding: 6px 35px;
        font-size: 15px;
    }
    .contact-thankyou-imagebottom img{
        position: absolute;
        margin-top: -100px;
        margin-right: 210px;
        width: 9%;
    }
    .contact-thankyou-imagebottom{
        margin-bottom: 10em;
    }
    @media screen and (max-width: 768px){
    .contact-thankyou-imagebottom img{
        display: none;
    }
    .contact-thankyou-imagebottom{
        margin-bottom: 1em;
    }
    }
/*----------------------- Search --------------------*/
    .nothing-found{
        margin-top: 60px;
    }
    .search-word, .nothing-found h2{
        font-size: 28px;
        text-align: center;
    }
    p.results-found {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 13px;
        margin-top: 32px;
    }
    .nothing-found-text{
        text-align: center;
        font-size: 60px;
        letter-spacing: 3px;
    }
    .search-result{
        margin: 0 auto 45px;
        position:relative;
        background-image: url(assets/images/border-c.png);
        background-repeat: no-repeat;
        padding: 5px 0 0 0;
        background-size: 100%;
    }
    .search-result-wrap{
        padding: 25px 74px 25px 20px;
        background: #ebebeb;
        background-image: url(assets/images/search-icon.png);
        background-repeat: no-repeat;
        background-position: 98% center;
    }
    #seacrhResult{
        width: 100%;
        height: 40px;
        border: none;
        background-color: #fff;
        padding-right: 20px;
        padding-left: initial;
        background-image: none;
    }
    .text-404{
        margin-bottom: 0px;
    }
    h2.best-match {
        text-align: left;
        margin-bottom: 35px;
    }
    h1.best-match {
        text-align: left;
        font-size: 80px;
        font-weight: 300;
        margin-top: 35px;
    }
    .xsell-container {
        position: relative;
        margin: 80px auto;
    }
    .xsell-products {
        display: flex;
    }
    .xsell-products .thumb-wrapper {
        width: 350px;
        height: 350px;
    }
    .product-wrapper {
        display: inline-block;
        width: auto;
    }
    @media screen and (max-width: 768px) {
        .xsell-products .thumb-wrapper {
            width: auto;
            height: auto;
        }
        .search-result-wrap {
            background-position: 96% center;
        }
        .nothing-found-text{
            font-size: 7vw;
            letter-spacing: 0;
            margin-top: 30px;
        }
    }
/*----------------------- My account Orders --------------------*/
.woocommerce-MyAccount-orders{
    text-align: center;
    margin: 20px 0 23px;
}
.tm-orders{
    font-weight: 300;
    text-align: center;
    background-image: url(assets/images/border-c.png);
    background-repeat: no-repeat;
    padding: 5px 0 0 0;
    background-size: 100%;
}
.tm-orders .tm-order-item{
    padding: 15px 0;
    background-image: url(assets/images/drop.png);
    background-repeat: no-repeat;
    background-position: 2% center;
    cursor: pointer;
}
.tm-orders.active .tm-order-item{
    background-image: url(assets/images/drop_up.png);
}
.tm-orders .tm-order-title{
    font-weight: bold;
}
.tm-orders .tm-order-number{
    font-size: 32px;
    line-height: 27px;
}
.tm-orders .tm-order-status{
    color: #999;
}
.tm-order-details.active{
    display: block;
}
.tm-order-details.active .woocommerce-order-details{
    width: 540px;
    margin: 10px auto 0;
}
.tm-order-details.active .order-details-summary{
    text-align: center;
    background-color: #f6eff0;
    padding: 30px 0;
    margin-bottom: 30px;
}
.tm-order-details.active .order-details-summary p{
    margin-bottom: 5px;
}
.tm-order-details.active .order-details-summary p span{
    font-size: 80%;
}
.tm-order-details.active .order-details-summary .order-details-summary-total{
    font-weight: bold;
}
.tm-order-details.active .woocommerce-order-details table.shop_table tr.cart-total th, .tm-order-details.active .woocommerce-order-details table.shop_table tr.cart-total td{
    border-bottom: 0;
}

.tm-order-details, .woocommerce-order-details__title, .woocommerce-order-details thead{
    display: none;
}
.tm-order-details section.woocommerce-customer-details{
    display: none;
}
.tm-order-details table.shop_table th, .tm-order-details table.shop_table tr{
    text-align: right;
}
.tm-order-details table.shop_table td, .tm-order-details table.order-customer-details td{
    vertical-align: middle;
    font-weight: bold;
    border-top: 0;
    padding: 15px;
}
.tm-order-details table.order-customer-details td.order-customer-title{
    vertical-align: top;    
}
.tm-order-details table.order-customer-details td.order-customer-values{
    font-weight: normal;
}
.tm-order-details table.shop_table td.product-name, .tm-order-details .order-customer-title{
    width: 30%;
}
.tm-order-details table.shop_table td.product-total{
    width: 60%;
}
.tm-order-details table.shop_table td.product-total span.order-quantity{
    display: initial;
}
.tm-order-details table.shop_table td.product-total .tm-order-variation{
    font-weight: normal;
}
.tm-order-details table.shop_table td.product-price{
    text-align: left;
}
.tm-order-details table.shop_table td.product-price .prices{
    display: flex;
}
.tm-order-details table.shop_table td.product-price .prices .new-price{
    color: #990000;
    margin-right: 5px;
}
.myAccount-orders-left{
    margin-right: 6.4%;
}
.woocommerce-MyAccount-orders img{
    width: 6%;
}
.woocommerce-MyAccount-orders h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
}
.woocommerce-MyAccount-orders {
    margin: 43px 0px 27px 0;
}
.tm-order-item .tm-order-status{
    font-weight: bold;
}
.myAccount-orders-left .tm-order-details table.shop_table td.product-name {
    width: 22%;
    padding: 21px 30px 24px 0px
}
.myAccount-orders-left .tm-order-details table.shop_table td.product-total {
    width: 50%;
    padding: 5px 27px 15px 15px
}
.myAccount-orders-left .tm-order-details table.shop_table td.product-total .tm-order-variation{
    font-size: 18px;
}
.woocommerce table.shop_table span.woocommerce-Price-currencySymbol {
    font-size: 16px;
}
.myAccount-orders-left .tm-order-details table.shop_table td.product-price {
    text-align: left;
    padding: 38px 0px 0px 26px;
    vertical-align: top;
}
table.order-customer-details{
    margin-top: 10px;
    margin-right: 23px;
}
table.order-customer-details .orders-padding{
    padding-top: 25px;
}
table.order-customer-details .order-customer-names div, table.order-customer-details .order-customer-values div{
    margin-bottom: 7px;
}
table.order-customer-details .order-customer-values{
    vertical-align: top !important;
    position: relative;
}
table.order-customer-details .order-customer-values .orders-padding{
    position: absolute;
    bottom: 14px;
}
.myAccount-orders-left .tm-order-details.active .order-details-summary {
    padding: 24px 0 18px 0;
    margin-top: 28px;
    line-height: 24px;
}
.tm-order-details.active .order-details-summary p{
    font-size: 20px;
}
.myaccount-orders-link{
    text-align: center;
    margin-top: 72px;
}
.myaccount-orders-link span{
    font-size: 20px;
    background-color: #d6c4bd;
    color: #fff;
    padding: 11px 45px;
}
.myaccount-orders-link a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    display: block;
    margin-top: 16px;
}
@media screen and (max-width: 768px) {
    .tm-order-details.active .woocommerce-order-details {
        width: auto;
        margin: 10px auto 0;
    }
    .tm-order-details table.shop_table th, .tm-order-details table.shop_table tr{
        text-align: center;
    }
    .tm-order-details .order-customer-title{
        width: 100%;
    }
    .tm-order-details table.shop_table td.product-total{
        width: 100%;
    }
    .tm-order-details table.shop_table td.product-price{
        text-align: unset;
    }
    .tm-order-details table.shop_table td, .tm-order-details table.order-customer-details td{
        padding: 0;
    }
    .tm-order-details table.shop_table td.product-price .prices {
        justify-content: center;
    }
    .tm-order-details table.order-customer-details {
        width: 100%;
        margin: 30px 0 !important;
    }
    .tm-order-details table.order-customer-details td.order-customer-title {
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .tm-order-details table.order-customer-details td.order-customer-names {
        float: right;
    }
    .tm-order-details table.order-customer-details td.order-customer-values {
        float: right;
        padding-right: 30px;
    }
    .woocommerce-MyAccount-orders img {
        width: auto;
    }
    .myAccount-orders-left .tm-order-details table.shop_table td.product-name {
        padding: 0;
        width: auto;
    }
    .myAccount-orders-left .tm-order-details table.shop_table td.product-total {
        width: auto;
        padding: 0;
    }
    .myAccount-orders-left .tm-order-details table.shop_table td.product-price {
        text-align: center;
        padding: 0;
    }
    table.order-customer-details .order-customer-values .orders-padding {
        position: absolute;
        top: 95px;
    }
    .myAccount-orders-left {
        margin-right: auto;
    }
}

/*---------------------------- Returns Page ------------------------*/
    .returns-container .returns-top .form-row-eye{
        position: relative;
    }
    .sidemenu-banner .returns-title{
        font-size: 50px;
        letter-spacing: 3px;
    }
    .returns-container .returns-menu {
        position: absolute;
    }
    .returns-container .returns-menu .sidemenu-menu{
        width: auto;
    }
    .returns-container .returns-menu .sidemenu{
        margin: 0;
    }
    .returns-container .returns-top{
        text-align: center;
        margin-top: 50px;
    }
    .returns-container .returns-top .woocommerce-MyAccount-user h3{
        font-size: 16px;
        padding: 10px 0 0px;
        letter-spacing: 1px;
        margin-bottom: 0;
    }
    .returns-container .returns-top form .form-row{
        border: 1px solid black;
        margin: 0 0 15px 0;
        padding: 12px 10px 10px 10px;
        position: relative;
    }
    .returns-container .returns-top form .form-row .closed-eye{
        top: 15px;
    }
    .returns-container .returns-top form .form-row .opened-eye{
        top: 10px;
    }
    .returns-container .returns-top form.login{
        width: 29%;
        margin: auto;
        border: none;
    }
    .returns-container .returns-top form .form-row input{
        border: none;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
    .returns-container .returns-top form .form-row.form-login-submit{
        border: none;
        padding: 0;
    }
    .returns-container .returns-top form .form-row.form-login-submit button{
        width: 100%;
        margin: 0;
        border: none;
        padding: 12px 0 13px 0;
        font-size: 12px;
        background: #000;
        font-weight: bold;
    }
.returns-container .returns-top .returns-buttons{
        
        margin: 40px 0 50px;
    }
    .returns-container .returns-top .returns-buttons button{
        padding: 10px 30px;
        margin: 0 15px;
        background: #f1e8e3;
        border: none;
        cursor: pointer;
        border: 1px solid #f1e8e3;   
    }
    .returns-container .returns-top .returns-buttons button:hover, .returns-container .returns-top .returns-buttons button:active{
     border: 1px solid #000;   
        outline: none;
    }
    .returns-container .returns-top .orders-to-return{
        max-width: 730px;
    }
.returns-container .returns-top .orders-to-return .tm-orders{
        background-image: none;
    }
    .returns-container .returns-top .orders-to-return .grey{        
        background: #f3f3f3;
        margin-bottom: 25px;
    }
    .returns-container .returns-top .orders-to-return .grey .tm-order-details.active .woocommerce-order-details{
        width: auto;
        padding: 0 30px;
    }
    .returns-container .returns-top .tm-order-details table.shop_table tr{
        border-bottom: 1px solid #000;
    }
    .returns-container .returns-top .orders-to-return .product-name img{
        width: 130px;
        height: auto;
    }
    .returns-container .returns-top .orders-to-return .product-total{
        width: 100%;
    }
/*
    .returns-container .returns-top .tm-order-details table.shop_table td.product-name{
        width: 20%;
    }
*/
    .returns-container .returns-top .tm-order-details table.shop_table td.product-price span.woocommerce-Price-currencySymbol{
        font-size: 16px;
    }
    .returns-container .returns-top .tm-order-details p{
        width: 45%;
        margin: 25px auto;
        font-weight: bold;
    }
    .returns-container .returns-top .cart-item-atts, .returns-container .returns-top .cart-item-atts select option{
        font-size: 14px;
    }
    .returns-container .returns-top .cart-item-atts select{
        padding: 5px 5px 5px 50px;
        margin-left: 20px;
        -webkit-appearance: none;
        background: #fff url(assets/images/arrow_black_down.png);
        background-repeat: no-repeat;
        background-position: 8% center;
    }
    .returns-container{
/*        max-width: 730px*/
    }    
    .returns-container .returns-top h3.hi{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 11px;
    }
    .returns-container .returns-top h4{
        font-size: 14px;
        font-weight: bold;
    }
    .returns-toptext{
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .returns-container .grey .tm-orders .tm-order-title{
        margin-top: -15px;
        font-size: 14px;
    }
    .returns-container .grey .tm-orders .tm-order-number{
        font-size: 26px;
        line-height: 20px;
    }
    .returns-container .grey .tm-orders .tm-order-status, .returns-container .grey .tm-orders .tm-order-status span, .returns-container .grey .tm-orders .tm-order-status time{
        font-size: 14px;
    }
    .returns-container .grey .tm-order-details.active .woocommerce-order-details {    
        margin: 4px auto 0;
    }
    .returns-container .returns-top .returns-buttons {
        margin: 26px 0 34px;
    }
    .returns-container .returns-top .returns-buttons button {
        padding: 6px 25px;
        margin: 0 8px;
        font-size: 13px;
        font-weight: bold;
    }
    .returns-container.tm-orders .tm-order-number {
        font-size: 25px;
        line-height: 12px;
        font-weight: bold;
    }
    .returns-container.tm-order-status span{
        font-size: 14px;
    }
    .returns-container .returns-top .tm-order-details table.shop_table td.product-name {
        width: 21%;
        padding: 15px;
    }
    .returns-container .tm-order-details table.shop_table td.product-price {
        padding: 30px 0px 0px 0px;
    }
    .returns-container .tm-order-details table.shop_table td.product-price span{
        font-size: 14px;
    }
    .returns-container .tm-order-details table.shop_table td.product-total a {
        font-size: 14px;
    }
    .returns-container .tm-order-details table.shop_table td.product-total .tm-order-variation, .returns-container .tm-order-details table.shop_table td.product-total .tm-order-variation span {
        font-size: 14px;
        font-weight: bold;
    }
    .returns-container .returns-top .tm-order-details p {
        width: 50%;
        margin: 40px auto 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
    }
    .returns-container .returns-top .tm-order-details a.submit-return {
        padding: 8px 28px !important;
        font-size: 14px;
        margin-top: 13px;
    }
    .returns-container .returns-top .tm-order-details table.shop_table td {
        padding: 0 0 0 15px;
    }

    .returns-container .returns-top .tm-order-details table.shop_table td input[type=checkbox] {
        position: relative;
        cursor: pointer;
    }
    .returns-container .returns-top .tm-order-details table.shop_table td input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        border: 1px solid #000000;
        border-radius: 0;
        background-color: #f3f3f3;
    }
    .returns-container .returns-top .tm-order-details table.shop_table td input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
    }
@media screen and (max-width: 768px) {
    .returns-container .returns-top .tm-order-details table.shop_table td.product-name{
        width: 100%;
    }
    .returns-container .returns-top .orders-to-return .product-name img {
        width: auto;
    }
    .returns-container .returns-top .tm-order-details table.shop_table tr {
        position: relative;
    }
    .returns-container .returns-top .tm-order-details table.shop_table td.product-checkbox {
        position: absolute;
        top: 40%;
    }
}
/*---------------------- Myaccount Coupon --------------------*/
.wt-mycoupons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 35px auto 0;
}
.bunique-coupons{
    background: rgba(0, 0, 0, 0) url(assets/images/myaccount-frame.png);
    background-size: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 40px;
}
.bunique-coupons .bunique-coupons-top{
    margin-bottom: 20px;
    margin-top: 15px;
}
.bunique-coupons .bunique-coupons-top img{
    width: 6%;
}
.bunique-coupons .bunique-coupons-top h3{
    font-size: 19px;
    margin-top: 12px;
    letter-spacing: 1px;
}
.birthday-coupon, .welcome-coupon, .promo-coupon{ 
    margin-bottom: 20px;
    margin-right: 7px;
    margin-left: 20px;
}
.birthday-coupon .wt-single-coupon, .welcome-coupon .wt-single-coupon, .promo-coupon .wt-single-coupon{    
    border: none;
    color: initial;
    box-shadow: none;
    text-shadow: none;
    height: 160px;
    margin-bottom: 0;
    margin-right: 0;
    width: 325px;
}
.coupon-bottomtext span{
    font-size: 13px;
}
.birthday-coupon .wt-single-coupon{
    background-color: #f4eeea ;    
}
.birthday-coupon .wt-single-coupon .birthday-coupon-code span{
    background: #fff;
    padding: 5px 10px;
}
.birthday-coupon .wt-single-coupon .birthday-coupon-title{
    margin: 0 0 10px 0;
}
.birthday-coupon .wt-single-coupon .birthday-coupon-code, .welcome-coupon .wt-single-coupon .birthday-coupon-code{
    margin: 15px 0 0 0;
}
.welcome-coupon .wt-single-coupon{
    background-color: #d3e5e3;    
}
.welcome-coupon .wt-single-coupon .birthday-coupon-code span{
    background: #000;
    padding: 5px 10px;
    color:#fff;
}
.welcome-coupon .wt-single-coupon .birthday-coupon-title{
    margin: 0 0 10px 0;
    font-size: 45px;
    line-height: 40px;
}
.promo-coupon .wt-single-coupon{
    background-color: #ebebeb;    
}
.promo-coupon .wt-single-coupon .birthday-coupon-code span{
    background: #000;
    padding: 5px 10px;
    color:#fff;
}
.promo-coupon .wt-single-coupon .birthday-coupon-title{
    border-bottom: 1px solid #000;
    margin: 0 20px;
}
.promo-coupon .wt-single-coupon .birthday-coupon-subtitle .amount{
    font-size: 44px;
}
@media screen and (max-width: 768px) {
    .bunique-coupons{
        background: none;
    }  
    .bunique-coupons .bunique-coupons-top img{
    width: auto;
}
}
/*---------------------- Myaccount Address --------------------*/

.woocommerce .woocommerce-address-fields .form-row .optional{
    display: none ;
}
.woocommerce .woocommerce-address-fields #add_shipping_box_field{
    border: none;
    padding: 0px 0 10px !important;
    margin-right: 0!important;
}
.woocommerce .woocommerce-address-fields #add_shipping_box_field input{
    margin-right: -10px !important;
}
.woocommerce .woocommerce-address-fields #add_shipping_box_field .checkbox span{
    color: #000;
    font-size: 12px;
    font-weight: bold;
}
.woocommerce .woocommerce-address-fields .myaccount_shipping_fields{
    color: #000;
    margin-top: 30px;
}
.woocommerce .bunique-edit-account{
    background: rgba(0, 0, 0, 0) url(assets/images/myaccount-big-frame.png);
    background-size: 100%;
    padding-bottom: 75px;
    padding-top: 0px;
    background-repeat: no-repeat;
    margin-top: 42px;
    margin-right: 90px;
}
.woocommerce .bunique-edit-account .woocommerce-MyAccount-user{
    margin: 45px 0 35px;
}
.woocommerce .bunique-edit-account .woocommerce-MyAccount-user h3{
    font-size: 20px;
    margin-top: 8px;
}
.woocommerce .bunique-edit-account .woocommerce-EditAccountForm .form-row {
    margin-bottom: 27px;
}
.woocommerce .bunique-edit-account form .form-row input::-webkit-input-placeholder, .woocommerce .bunique-edit-account form .form-row input::-webkit-input-value{
    color:transparent;
}
.woocommerce .woocommerce-address-fields .save_address{
    margin-top: 30px;
}
.woocommerce .woocommerce-address-fields .save_address button.button{
    padding: 0.8em 4.2em;
    font-size: 14px;
}
.woocommerce .woocommerce-address-fields #billing_city_field, .woocommerce .woocommerce-address-fields #shipping_city_field{    
    margin-left: 20px;
    float: right;
}
.woocommerce .woocommerce-address-fields #billing_phone_field, .woocommerce .woocommerce-address-fields #shipping_phone_field{    
    width: 30%;
    float: right;
}
.woocommerce .woocommerce-address-fields #billing_phonecode_field, .woocommerce .woocommerce-address-fields #shipping_phonecode_field{    
    border-right: none;
    width: 18%;
    float: right;
}
.woocommerce .woocommerce-address-fields #billing_phonecode_field select, .woocommerce .woocommerce-address-fields #shipping_phonecode_field select{    
    border: none;
}
.woocommerce .woocommerce-address-fields .form-row .required{
    visibility: hidden;
}
@media screen and (max-width: 768px) {
    .woocommerce .woocommerce-address-fields #billing_phone_field, .woocommerce .woocommerce-address-fields #shipping_phone_field{    
    width: 75%;
}
.woocommerce .woocommerce-address-fields #billing_phonecode_field, .woocommerce .woocommerce-address-fields #shipping_phonecode_field{ 
    width: 25%;
} 
    .woocommerce .bunique-edit-account.add_shipping_fields{
    background: none;
}
    .bunique-edit-account .woocommerce-MyAccount-user img {
    width: auto;
}
}
/*---------------------- Register Page --------------------*/
.register-page{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}
.register-page .woocommerce-MyAccount-user{
    text-align: center;
}
.register-page .popup-firstname, .register-page .popup-lastname{
    width: 100% !important;
    float: none;
}
.register-page input{
    width: 100% !important;
    border: 1px solid black;
    margin: 10px 0;
    padding: 7px 15px 5px;
}
.register-page .register-top .popup-phonecode select {
    margin: 10px 0;
}
.register-page input[type="checkbox"] {
    -webkit-appearance: checkbox;
        width: auto !important;
}
.register-page input[type="checkbox"] + span:before {
      display: none
    }
 .register-page input[type="checkbox"]:checked + span:before {
        display: none;
    }
.register-page button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 60px;
    margin-top: 17px;
    }
.register-page label.bd-benefits, .register-page label.bd-terms{
    display: flex;
}
.register-page label.bd-benefits input[type="checkbox"], .register-page label.bd-terms input[type="checkbox"]{
    margin-top: 6px;
}
.register-page label.bd-benefits span, .register-page label.bd-terms span{
    margin-right: 10px;
}
}
/*---------------------- Club Page --------------------*/
.club .row{
        width: 1076px;
        margin: auto;
        margin-top: 47px;
    }
    .club .club-left{
        position: relative;
        height: 700px;
        margin-top: 88px;
        margin-right: -25px;
    }
    .club .club-right{
        padding-left: 120px;
    }
    .club .club-content p{
        font-size: 13px;
        line-height: 17px;
    }
    .club .club-content form{
        margin-top: 41px;
        width: 90%;
    }
    .club .left-top-image{
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
    }
    .right-top-image{
        width: 63%;
        margin-right: 85px;
        margin-bottom: 38px;
    }
    .club .left-bottom-image{
        position: absolute;
        bottom: -54px;
        left: -17px;
        width: 51%;
    }
    }
    .club .club-content p.club-title{
        margin-bottom: 25px;
        font-size: 16px;
        background: url('assets/images/club-gold-line.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        padding: 0px 0 15px 0;
        background-size: 29%;
    }
    .club-form .phone-code, .club-form .phone-number {
        float: left;
    }
    .club-form .phone-code {
        width: 25%;
    }
    .club-form .phone-code select{
        padding: 10px 0;
        border-right: none;
    }
    .club-form .phone-number {
        width: 75%;
    }
    .club-form .club-name, .club-form .club-surname, .club-form .club-address, .club-form .club-appartment {
        float: left;
        width: 50%
    }
    .club-form .club-name span, .club-form .club-address span {
        width: 98%;
    }
    .club-form .club-surname span, .club-form .club-appartment span {
        width: 98%;
        float: right;
    }
    .club-form .club-birthday input{
        border: 1px solid #aaa;
    }
    .club-form select, .club-form input {
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 18px;
        padding: 7px 5px;
    }
    .club-form .club-acceptance {
        text-align: center;
        margin-top: -30px;
    }
    .club-form .club-acceptance input{
        margin: 0;
        padding: 0;
    }
    .club-form .club-acceptance span.wpcf7-list-item-label{
        font-size: 11px;
    }
    .club-form p{
        text-align: center;
    }
    .club-form input[type=submit] {
        width: auto;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 68px;
        margin-top: 7px;
        font-size: 14px;
    }
.club-form .club-fields input{
        text-align: center;
    }
::-webkit-input-placeholder{
        text-align: right;
        color: #000;
        font-weight: bold;
    }
.club-form .wpcf7-not-valid-tip{
        top: 3px !important;
        color: #0000ff;
        left: 10px !important;
        font-size: 12px;
        font-weight: bold;
        border: none !important;
        background: transparent !important;
        padding: 0 !important;
        right: initial !important;
    }
    .club-form .club-name .wpcf7-not-valid-tip, .club-form .club-surname .wpcf7-not-valid-tip, .club-form .club-address .wpcf7-not-valid-tip{
        top: 10px !important;
        left: -95px !important;
    }
    .wpcf7-form .wpcf7-validation-errors{
        display: none !important;
    }
@media screen and (max-width: 768px) {
    .club .row {
        width: auto;
    }
    .club .club-left{
        display: none;
    } 
    .club .club-right {
        padding-left: 15px;
    }
    .club .club-content form {
        width: 100%;
    }
}
/*---------------------- Newsletter Popup --------------------*/

.popup-newsletter .modal-content{
        border: none;
        border-radius: 0;
    }    
.popup-newsletter .modal-dialog{
        max-width: 660px;
    margin: 162px auto 0;
    }
    .popup-newsletter .modal-content .container{
        padding: 0px;
        position: relative;
    }
    .popup-newsletter .modal-content .container button.close{
        position: absolute;
        top: 4px;
    right: 9px;
    }
    .popup-newsletter .modal-content .container button.close span{
        font-size: 24px;
    }
    .popup-newsletter .row{
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0;
    }
    .popup-newsletter-left, .popup-newsletter-right{
        padding: 15px;
    }
.popup-newsletter-left{
        width: 52%;
    }
.popup-newsletter-right{
        width: 48%;
    padding-left: 0px;
    }
    .popup-newsletter-right .popup-newsletter-plane{
        margin: 25px 0 14px;
    }
.popup-newsletter-right .popup-newsletter-plane img{
        width: 19%;
    }
    .popup-newsletter-right .popup-newsletter-title{
        letter-spacing: 1px;
        margin-bottom: 0;
        font-size: 27px;
    }
    .popup-newsletter-right .popup-newsletter-text{
        margin: 4px 0 0 0;
    }
    .popup-newsletter-right .popup-newsletter-text p{
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 17px;
        margin-bottom: 25px;
    }
    .popup-newsletter-right form{
        width: 87%;
        margin: auto;
    }
    .popup-newsletter-right form input{
        padding: 6px 0;
        width: 100%;
        border: 2px solid #000;
        text-align: center;
        text-transform: uppercase;
    }
    .popup-newsletter-right form .popup-newsletter-form p{
        margin-bottom: 0;
    }
    .popup-newsletter-right form .popup-newsletter-form .wpcf7-not-valid-tip{
        position: absolute;
        top: -33px;
        left: 65px;
        width: max-content;
        direction: ltr;
        color: #0000ff;
    }
    .popup-newsletter-right form .wpcf7-validation-errors{
        display: none !important;
    }
    .popup-newsletter-right form input[type=submit]{
        width: 100%;
        background: #000;
        color: #fff;
        border: 0;
        margin-top: 10px;
        padding: 9px 0 5px;
    }
    .popup-newsletter-right form .newsletter-acceptance{
        margin-top: -13px;
    }
    .popup-newsletter-right form .newsletter-acceptance input{
        display: none;
    }
    .popup-newsletter-right form .newsletter-acceptance span.wpcf7-list-item{
        margin: 0;
    }
    .popup-newsletter-right form .newsletter-acceptance span.wpcf7-list-item-label{
        font-size: 12px;
        font-weight: bold;
    }
    .popup-newsletter-right form .newsletter-acceptance span.wpcf7-list-item-label a{
        font-size: 12px;
        font-weight: bold;
    }
    .popup-newsletter-right form .newsletter-acceptance a{
        text-decoration: underline;
    }
    .popup-newsletter-right form input::-webkit-input-placeholder{
        text-align: center;
        color: #999999;
    }
    .popup-newsletter .modal-content .container .popup-newsletter-left img{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .popup-newsletter-right .popup-newsletter-bottomtext{
        margin: 40px 0 0 0;
    }
    .popup-newsletter-right .popup-newsletter-bottomtext a{
        font-weight: bold;
        text-decoration: underline;
        font-size: 14px;
    }
    .popup-newsletter-thankyou{
        display: none;
        width: 50%;
        padding: 15px;
        margin-top: 126px;
    }
    .popup-newsletter .newsletter-thankyou-image-top img{
        width: 42%;
    }
    .popup-newsletter .popup-thankyou-title{
        margin-top: 10px;
    }
    .popup-newsletter .newsletter-thankyou-image-bottom{
        margin: -8px 0 25px 0;
    }
    .popup-newsletter a.newsletter-thankyou-link {
        background: #000;
        color: #fff;
        padding: 10px 60px;
    }
.popup-newsletter-right .newsletter-thankyou-plane img{
        widows: 40%;
    }
    .popup-newsletter-right .newsletter-thankyou-plane img{
        width: 40%;
        margin-top: 122px;
    }
    .popup-newsletter-right h1.newsletter-thankyou-title{
        margin-top: 16px;
        font-size: 36px;
        direction: ltr;
        letter-spacing: 1px;
    }
    .popup-newsletter-right .newsletter-thankyou-img img{
        width: 40%;
        margin-top: -12px;
    }
    .popup-newsletter-right .newsletter-thankyou-bottomtext{
        margin-top: 19px;
    }
    .popup-newsletter-right .newsletter-thankyou-bottomtext a{
        background: #000;
        color: #fff;
        font-size: 16px;
        padding: 10px 58px 9px;
    }
/*---------------------- Registration Thankyou Popup --------------------*/
    .registration_thankyou {
        margin: 0px auto;
        width: 500px;
        text-align: center;
        padding: 115px 0 124px;
    }
    .registration_thankyou h1{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: -2px;
    }
    .registration_thankyou p{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    .registration_thankyou a{
        color: #999;
        font-size: 14px;
        line-height: 19px;
        text-decoration: underline;
        background: url('assets/images/arrow-right-link.png');
        background-repeat: no-repeat;
        background-position: left center;
        padding: 0 0 0 20px;
    }
/*---------------------- Jobs Page --------------------*/

    .jobs-banner img{
        width: 100%;
    }
    .jobs{
        display: flex;
        flex-direction: row-reverse;
        width: 813px;
        margin: 35px auto 0;
    }
    .jobs-right, .jobs-left{
        width: 45%;
    }
    .jobs-right{
        margin-left: 79px;
    }
    .jobs .jobs-right .jobs_categories{
        display: flex;
        flex-wrap: wrap;
        margin-top: 33px;
    }
    .jobs .jobs-right h3{
        font-size: 17px;
        margin: 21px 0 23px 0;
    }
    .jobs .jobs-right p{
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 11px;
    }
    .jobs .jobs-right .category{
        background: #f9f5f3;
        padding: 10px 5px;
        margin: 0 0 5px 6px;
        width: 115px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
    }
    .jobs .jobs-left .wpcf7-form .jobs-title{
        text-align: center;
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 18px;
    }
    .jobs .jobs-left .wpcf7-form input{
        width: 100%;
        padding: 9px 9px 7px 0;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    .jobs .jobs-left .wpcf7-form select{
        width: 100%;
        padding: 12px 6px 9px 0px;
        margin-bottom: 12px;
        font-size: 12px;
        font-weight: bold;
    }
    .jobs .jobs-left .wpcf7-form .jobs-phone-number{
        width: 75%;
        float: left;
    }
    .jobs .jobs-left .wpcf7-form .jobs-phone-code{
        width: 25%;
    float: left;
    }
    .jobs .jobs-left .wpcf7-form .jobs-phone-code select{
        padding: 9px 24px 11px 0px;
        border-right: none;
    }
    .jobs .jobs-left .wpcf7-form .jobs-phone-number input{
        padding: 8px 9px 6px 0;
    }
    .jobs .jobs-left .wpcf7-form .jobs-textarea textarea{
        width: 100%;
        height: 130px;
    }
    .jobs .jobs-left .wpcf7-form .jobs-file{
        margin-top: -19px;
        margin-right: 3px;
        display: flex;
        width: 74%;
        align-items: baseline;
        float: right;
    }
    .jobs .jobs-left .wpcf7-form .jobs-file span{
        font-size: 12px
    }
    .jobs .jobs-left .wpcf7-form .jobs-file label.upload{
        width: 210px;
    }
    .jobs .jobs-left .wpcf7-form .jobs-file span input{
        width: 65%;
        color: transparent;
    }
    .jobs .jobs-left .wpcf7-form input[type=submit]{
        width: auto;
        padding: 9px 27px;
        background: #000;
        color: #fff;
        border: none;
        font-size: 14px;
        float: right;
        margin-top: -4px;
    }
@media screen and (max-width: 768px) {
    .jobs {
    flex-direction: column-reverse;
    width: auto;
        margin: 0px auto;
}
    .jobs-right, .jobs-left {
    width: 100%;
}
    .jobs-left {
    margin-top: 20px;
}
    .jobs-right, .jobs-left {
    width: 100%;
    padding: 0 15px;
}
}
/*---------------------- Single Post --------------------*/
/*---------------------- Our Story Page --------------------*/
    .ourstory .row{
        width: 1100px;
        margin: auto;
        margin-top: 41px;
    }
    .ourstory .ourstory-left{
        position: relative;
        height: 700px;
        margin-top: 0px;
        margin-right: -25px;
    }
    .ourstory .ourstory-right{
        padding-left: 120px;
    }
    .ourstory .ourstory-content p{
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.1px;
    }    
    .ourstory .left-top-image{
        position: absolute;
        top: 0;
        right: 47px;
        width: 52%;
    }
    .ourstory .right-top-image{
        width: 58%;
        margin-right: 100px;
        margin-bottom: 32px;
    }
    .ourstory .left-bottom-image{
        position: absolute;
        bottom: 120px;
        left: -7px;
        width: 66%;
    }
    .ourstory .left-gold-frame{
        position: absolute;
        bottom: 70px;
        left: 11px;
        width: 71%;
    }
    
@media screen and (max-width: 768px) {
    .ourstory .row {
        width: auto;
    }
    .ourstory .ourstory-left{
        display: none;
    } 
    .ourstory .ourstory-right {
        padding-left: 15px;
    }
}       

/*---------------------- Products Mobile --------------------*/
@media screen and (max-width: 768px){
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-info h1.title {
        font-size: 12px;
        margin-top: 13px;
    }
    .product-info span.price {
        font-size: 10px;
    }
}

/*---------------------- product page --------------------*/

.desktop-gallery{
    display: flex;
    flex-direction: column-reverse;
}
.desktop-gallery .woocommerce-product-gallery--columns-4{
    position: relative;
}
.express{
    text-align: center;
    background: url(assets/images/express.png);
    background-repeat: no-repeat;
    background-color: #000;
    color: #fff;
    background-position: 60% center;
    padding: 10px 0;
    text-indent: 70px;
}
.info-blocks-title{
    text-align: center;
    padding: 0px 0 10px 0;
    background: url(assets/images/gold-line-horizontal.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 20px 0;
    font-size: 18px;
    letter-spacing: 1px;
}
.info-block {
    border-top: 1px solid #ccc;
}
.info-block:last-child {
    border-bottom: 1px solid #ccc;
}
.info-block-title{
    border-bottom: none; 
}
@media screen and (max-width: 768px){
    .product .row {
        flex-direction: column-reverse;
    }
    .desktop-gallery {
        padding: 0;
    }
    .desktop-gallery .express {
        background-position: 63% center;
        padding: 15px 0 10px;
        text-indent: 50px;
        background-size: 8%;
        font-size: 12px;
        letter-spacing: 1px;
    }
    .product .row .entry-summary .mobile-gallery{
        margin: 0 -15px;
    }
    .product .row .entry-summary .mobile-gallery a.whishlist{
        top: 15px;
        left: 0px;
        right: auto;
    }
    .product .row .entry-summary .mobile-gallery a.whishlist img{
        width: 70%
    }
    .product .row .entry-summary .mobile-gallery .flex-viewport .flex-active-slide img{
        margin-top: -43px;
    }
    .single-product-top {
        margin-top: 36px;
    }
    .add-to-cart-form a.pum-trigger {
        top: 186px;
        right: 0;
        font-size: 10px;
    }
    .add-to-cart-form a.pum-trigger img{
        display: none;
    }
}

/*---------------------- blog --------------------*/

    .blog .container{
        max-width: 100%;
    }
    .blog .topicon.location{
        display: none
    }
    .blog .topbar {
        position: relative;
        background: #f4ebe5;
        height: 70px;
    }
    .blog .topbar .topicons-right{
        position: absolute;
        right: 62px;
        top: -5px;
    }
    .blog .topbar .topicons-left{
        position: absolute;
        left: 85px;
        top: 0;
    }
    .blog .topbar .top-single-menu{
        margin-right: 280px;
        padding-top: 15px;
    }
    .blog .topbar .top-single-menu .nav-right {
        justify-content: right;
    }    
    div.bg-container {
        display: inline-block;
        margin: 50px 0;
    }
    div.bg-container h1 {
        direction: ltr;
        font-size: 100px;
        margin-bottom: 20px;
    }
    div.bg-container span.bold-text p
    {
        line-height: 30px;
        display: block;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .blog .blog-insta{
        position: relative;
    }
    .blog .blog-insta .blog-insta-hashtag{
        background-image: url('assets/images/insta_icon.png');
        background-repeat: no-repeat;
        background-position: left;
        text-align: left;
        direction: ltr;
        text-indent: 50px;
        font-size: 40px;    
    }
    .blog .blog-insta .blog-insta-dots{
        position: absolute;
        bottom: 0;
        right: -25px;
    }
    @media screen and (max-width: 768px) {
        div.bg-image {
            display: none;
        }
    }

/*------------------- Shop --------------------*/
.woocommerce-notices-wrapper{
    display: none;
}