/** Cart Page **/
.woocommerce-message {
    border: none;
    background: none;
    padding-right: 0px;
}

.woocommerce-message::before {
    display: none;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
}

.cart-collaterals
{
    border: 2px solid black;
    padding: 20px !important;
}

.order-totals {
    text-align: center;
    font-size: 18px;
}

.woocommerce table.shop_table th, .woocommerce table.shop_table tr {
    width: 100%;
    padding: 10px 0 10px 0;
    font-weight: 100 !important;
}

tr.order-total th {
    border-bottom: 0 !important;
    text-align: center;
    font-size: 24px !important;
}


.woocommerce table.shop_table_responsive tbody th, .woocommerce-page table.shop_table_responsive tbody th {
    display: block !important;
}

div.woocommerce-cart-form__cart-item
{
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    display: flex;
    padding: 15px 0;
}

.woocommerce a.remove {
    position: absolute;
    left: 0;
    bottom: 10px;
}

.woocommerce a.remove:hover {
    background: none !important;
}

div.product-thumbnail
{
    width: 200px;
}

.cart-container {
    margin-bottom: 80px;
}

span.woocommerce-Price-currencySymbol {
    font-size: 29px;
    font-family: 'Heebo', sans-serif;
    margin-right: 5px;
    position: relative;
}

.cart span.woocommerce-Price-currencySymbol {
    font-size: 16px;
}

div.product-subtotal
{
    position: absolute;
    left: 40px;
    bottom: 6px;
}

.cart-item-info {
    padding-right: 40px;
}

.q_wrapper {
    border: 1px solid #acacac;
    padding: 5px;
    font-weight: 800;
    display: inline-block;
}

.q_arrow_up, .q_arrow_down {
    position: relative;
    margin: 0;
    cursor: pointer !important;
    display: inline-block;
}

.q_arrow_up:hover, .q_arrow_down:hover {
    color: #ccc;
}

.q_wrapper span {
    padding: 5px 15px;
}

.product-price span.woocommerce-Price-amount {
    font-size: 16px;
    padding: 10px 0;
    display: block;
}

.woocommerce a.remove img {
    width: 14px;
}

div.shop_table.cart {
    margin-bottom: 40px;
}



.wc-proceed-to-checkout a
{
    padding: 13px !important;
    font-size: 18px !important;
}

.cart-banner img {
    width: 100%;
    margin-top: 40px;
}

img.attribute-img {
    margin: 0 20px;
}

span.attribute-name, a.attribute-edit-link {
    font-weight: 100;
}

a.attribute-edit-link {
    text-decoration: underline;
    margin-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.sumo_reward_points_current_points_message {
    display: none;
}

form.checkout_redeeming, div.fp_apply_reward {
    display: none !important;
}

#value_variable_product {
    display: none !important;
}


.sumo_reward_points_complete_message {
    display: none;
}
