.wt-mycoupons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 35px auto 0;
}
.account-coupons{
    background-size: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
}
.account-coupons .account-coupons-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}
.account-coupons .account-coupons-top{
    margin-bottom: 20px;
    margin-top: 15px;
}
.account-coupons .account-coupons-top img{
    width: 6%;
}
.account-coupons .account-coupons-top h3{
    font-size: 19px;
    margin-top: 12px;
    letter-spacing: 1px;
}
.birthday-coupon, .welcome-coupon, .promo-coupon{
    margin-bottom: 20px;
    margin-right: 7px;
    margin-left: 20px;
}
.coupon-item {
    border: none;
    color: initial;
    box-shadow: none;
    text-shadow: none;
    margin: 10px 10px 0;
    margin-bottom: 0;
/*    margin-right: 0;*/
    width: 325px;
}
.coupon-bottomtext span{
    font-size: 13px;
}
.single-coupon{
    background-color: #d6c4bd;
    height: 160px;
}
.single-coupon .coupon-code {
    background-color: white;
    display: inline-block;
    padding: 3px 10px;
    margin-top: 10px;
}
.coupon-item .invalid-message {
    background-color: #AF2D2B;
}
.single-coupon .coupon-title{
    margin: 10px;
    font-size: 22px;
    line-height: 40px;
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .account-coupons{
        background: none;
    }
    .account-coupons .account-coupons-top img{
        width: auto;
    }
}
