.menu-item {
    display: block;
}


.slider-wrapper {
    position: relative;
}


li.menu-item a {
    padding: 5px;
}

li.current-menu-item a {
    color:#FFFFFF;
}
footer li.current-menu-item a {
    color:#000;
}
.menu-item:focus, .menu-item:hover {
    text-decoration: none;
}

.menu-item.disabled {
    color: #868e96;
}

.menubar {
    text-align: center;
    position: relative;
    margin: -23px 0 0 0;
}

.menubar #logo img {
    height: 60px;
}

.menu-primary-menu-container {
    position: absolute;
    top: 0;
}

ul.sub-menu {
    padding: 20px;
}

.nav-right li, .nav-left li {
    float: right;
    list-style-type: none;
}

.nav-right {
    float: right;
}

.menu-left, .menu-right {
    margin-top: 20px;
}

.menu-left {
    float: right;
}

.menu-right {
    float: right;
}

ul.nav li a {
    font-family: 'assistantsemibold', 'NarkisBlockMFW', 'Heebo', sans-serif;
    font-size: 17px;
    padding: 10px 13px 25px 13px;
/*    padding: 10px 20px;*/
    display:block;
}
ul.nav li a:hover {
    color: #cdb6ac;
}

.menubar-mobile {
    display: none;
}
#menu-mobile {
    display: none;
}

ul.nav li.current-menu-item a {
    color: #cdb6ac;
}

ul.nav li:hover a, .footer li:hover a {
    text-decoration: none;
}

li:hover ul.sub-menu {
    display: flex;
}

ul.sub-menu {
    position: absolute;
    width: 100%;
    right: 0;
/*
    width: 80%;
    right: 0;
*/
    left: 0;
    margin: auto;
    z-index: 1101;
    display: none;
    background-color: #f3f3f3;
    border-top: 1px solid black;
    padding-right: 0;
    padding-bottom: 0;
}


ul.sub-menu .container .submenu-wrapper {
    width: 50%;
    padding: 0 40px;
    text-align: right;
    border: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

ul.sub-menu .submenu-wrapper .submenu-wrapper, ul.sub-menu .submenu-wrapper .submenu-wrapper .submenu-wrapper {
    padding: 0;
}

ul.nav li {
    margin-right: 17px;
    margin-left: 17px;
/*    margin-right: 35px;*/
}
ul.nav li ul li, ul.nav li ul li ul li  {
    margin-right: 0;
}

ul.nav li.menu-item-has-children:hover a {
    position: relative;
}
ul.nav li.menu-item-has-children:hover a::after{
    content: ' ';
    width: 100%;
    position: absolute;
/*    background-color: black;*/
    background: url('../images/megamenu-line.png');
    height: 3px;
    left: 0;
    bottom: -2px;
    z-index: 100;
}
ul.nav li.menu-item-has-children:hover ul li a::after, ul.nav li ul li a::after{
    content: '' !important;
    display: none !important;
}
ul.nav li.menu-item-has-children::before{
    content: ' ';
    width: 100%;
    height: 20px;
}
ul.nav li.menu-item-has-children:hover ul li, ul.nav li ul li {
    background: transparent;
    color: #000 !important  ;
    border-bottom: none !important;
}
ul.nav li.menu-item-has-children:hover ul li a, ul.nav li ul li a {
    background: transparent;
    color: #000 !important;
    padding: 5px 0 8px;
    height: auto;
/*    border-bottom: 1px solid #9e9e9e;*/
    margin-bottom: 10px;
    font-weight: 600;
}
ul.nav li ul li a:hover {
    /*color: #33b6d2 !important*/
}
ul.sub-menu ul.sub-menu {
    position: inherit;
    width: auto;
    background: transparent;
    right: auto;
    padding: 0;
    border-top: 0;
}
ul.nav li.menu-item-has-children ul.sub-menu li a {
    display: inline-block;
    font-size: 17px;
}
ul.nav li.menu-item-has-children ul.sub-menu li a:hover {
    font-weight: bold;
}
.mega-banners {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-right: 1px solid #9e9e9e;
    padding-right: 40px;
}
.mega-banner a::after {
    text-decoration: none;
    display: none;
}
.mega-banner {
    width: 50%;
}
.mega-banner:nth-last-child(1):nth-child(odd){
    width: 100%;
}
.mega-banner:nth-last-child(1):nth-child(odd) img{
/*    height: 200px;*/
    object-fit: cover;
    object-position: top;
}
.mega-banner a
{
    text-align: left;
    direction: ltr;
    color: black !important;
    text-decoration: underline;
    font-weight: 200;
}
ul.sub-menu .mega-banner a span{
	text-decoration: underline;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 400;
    font-size: 19px;
}
ul.sub-menu .mega-banner a img{
    width: 100%;
}
ul.sub-menu ul.sub-menu {
    display: block;
}
ul.nav li ul.sub-menu li ul.sub-menu li a {
    color: #000 !important;
    border-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 0px;
    margin: 0;
    height: auto;
}
ul.nav li ul.sub-menu li ul.sub-menu li {
    float: none;
    margin-left: auto;
    display: block;
    margin: 0;
}
ul.nav li ul.sub-menu li ul.sub-menu li a:hover {
    /*color: #33b6d2 !important*/
}

ul.nav li ul.sub-menu li {
    margin: 0;
    vertical-align:top;
    width: 54%;
}
ul.nav li ul.sub-menu li.main-submenu a{
    border-bottom: 1px solid #9e9e9e;
}


.menubar .menu-right,
.menubar .menu-left
{
    margin-top: 0px;
}
.menubar .menu-right ul#menu-menu-main
{
    display: table;
    margin: 0px auto;
    float: none;
}

/** Mobile Menu **/
#menu-mobile {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #FFFFFF;
    z-index: 9992;
    margin-top: -5px;
    height: 101vh !important;
    overflow: scroll;
}

body.ham {
    overflow: hidden;
    position: relative;
    height: 100%;
}

ul.mobile-bottom-menu {
    border-top: 1px solid #d9d9d9;
}

.mobile-login-link {
    background-image: url('../images/mobile-login.png');
    width: 200px;
    display: block;
    height: 50px;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50px;
    padding: 10px 60px 0 0;
    font-size: 18px;
    margin: 21px auto 20px;
}

#menu-mobile ul {
    list-style-type: none;
    padding: 0;
}

#menu-mobile ul li {
    background-color: #f3f3f3;
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 100px;
    position: relative;
}
#menu-mobile ul li.SALE {
    flex-direction: row-reverse;
    background-color: #f1e8e3;
}
#menu-mobile ul li img {
 height: 60px;
  width: 76px;
  float: right;
}

#menu-mobile ul li a
{
    width: 100%;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    font-family: 'assistantsemibold', 'NarkisBlockMFW', 'Heebo', sans-serif;
}

#menu-mobile ul.submenu {
    display: none;
}
#menu-mobile ul.submenu li{
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    margin: 0px;
    padding: 10px 20px 10px 10px;
}
#menu-mobile ul.submenu li img{
    height: 70px;
    float: right;
    width: 91px;
    object-fit: cover;
    border-radius: 50%;
}
#menu-mobile ul.submenu li a{
    text-align: right;
    padding-right: 40px;
}
.mobile-menu-back-button {
    display: none;
    padding: 35px 0;
    position: relative;
    background: #f3f3f3;
}
.mobile-menu-back-button a.to-all {
    font-weight: bold;
}
.mobile-menu-back-button a.back {
    position: absolute;
    left: 20px;
    top: 36px;
    width: 10px;
}
.mobile-menu-back-button a.back img {
    max-width: 100%;
}
.mobile-menu-icons{
    margin: 25px 0;
}
.mobile-menu-icons a{
    padding: 18px 10px;
}
.mobile-menu-icons a img{
    height: 25px;
}
ul.mobile-bottom-menu {
    margin-top: 20px;
}
#menu-mobile ul.mobile-bottom-menu li {
    background-color: #FFF !important;
    border-bottom: 1px solid #d9d9d9;
    min-height: 35px !important;
    margin: 0 10px;
}
ul.mobile-bottom-menu li a{
    padding: 17px 0 20px;
}
/** End mobile menu **/

.lmp_products_loading, .lmp_load_more_button {
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 4;
}

.lmp_products_loading i {
    width: 152px !important;
    height: 85px !important;
}

.lmp_products_loading i:before {
    content: ' ';
    display: block;
    background-image: url('../images/loader.gif');
    width: 152px !important;
    height: 85px !important;
    background-repeat: no-repeat;
    margin: auto !important;
}

@media screen and (max-width: 768px){
    .menubar {
/*        position: initial;*/
    }
}
