.mini-product-price span.amount {
    font-size: 14px !important;
}
.widget_shopping_cart_content {
    padding-bottom: 10px;
}
.woocommerce-mini-cart__empty-message
{
    text-align: center;
}

span.close-mini-cart
{
    font-family: 'Arial', 'sans-serif';
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 4px;
    cursor: pointer;
/*    display: none;*/
}

.mini-cart-handle {
    padding: 30px;
    text-align: right;
}

.mini-cart-handle a {
    cursor: pointer;
}
p.cart-invite {
    font-size: 21px;
    padding: 30px 0 0;
}
a.get-started {
    font-size: 16px;
    padding: 5px 30px;
}
a.get-started span {

}

.mini-cart-message {
    border-bottom: 1px solid #e1e1e1;
    padding: 6px 0 0;
/*    padding: 10px 0;*/
    background-color: #f3f3f3;
    margin: 0;
}
.mini-cart-message span{
    font-size: 13px;
}

.mini-cart-wrapper {
    background-color: #e7e7e7;
    position: absolute;
    z-index: 1002;
    display: none;
/*    min-width: 250px;*/
    min-width: 300px;
/*    top: 34px;*/
    right: -35px;
    top: 60px;
    width: 250px;
}
.topicon.minicart {
/*    position: relative;*/
}
ul.woocommerce-mini-cart {
    list-style-type: none;
    max-height: 270px;
    direction: ltr;
    padding: 15px 10px 1px;
    margin: 0;
    background-color: #f3f3f3;
}
.mini-cart-toggle {
    cursor: pointer;
    position: relative;
}
ul.woocommerce-mini-cart li.woocommerce-mini-cart-item {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    text-align: right;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}
ul.woocommerce-mini-cart li.woocommerce-mini-cart-item:last-child {    
    margin-bottom: 0;
    border-bottom: none;
}

ul.woocommerce-mini-cart li img.attachment-woocommerce_thumbnail {
    width: 80px;
/*    width: 120px;*/
    margin: 0 0 0 17px;
/*    margin: 0 0 0 10px;*/
    height: auto;
}
.mini-thumb, .mini-name, .mini-details {
    /*float: right;*/
}
.mini-name, .mini-details {
    width: 100%;
    text-align: right;
}
.mini-name {
    color: #000;
    font-weight: normal;
    display: block;
    width: 85%;
    padding: 0;
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.2;
}
ul.woocommerce-mini-cart li a.remove_from_cart_button {
    position: absolute;
    top: 3px;
    left: 6px;
    color: black;
    font-size: 45px;
    font-weight: 100;
    line-height: 10px;
}
ul.woocommerce-mini-cart li a.remove_from_cart_button img{
        width: 75%;
}
ul.woocommerce-mini-cart li a.remove_from_cart_button:hover {
    text-decoration: none;
}
.mini-details .variation{
    display: none;
}
.mini-product-variations span{
    font-size: 14px;
    font-weight: bold;
}
.mini-product-variations span:first-child{
    margin-left: 10px;
    border-left: 1px solid;
    padding-left: 10px;
}
.mini-product-price .old-price + span, .mini-product-price ins{
    color: #990000;
    text-decoration: none;
}
.mini-details .quantity {
    display: block;
}
.mini-details .amount {
/*    font-size: 18px !important;*/
    font-size: 13px !important;
    margin-top: -7px;
    font-weight: bold;
}
.mini-details .amount .woocommerce-Price-currencySymbol {
    font-size: 10px;
/*    font-size: 14px;*/
}
p.woocommerce-mini-cart__total.total span.woocommerce-Price-currencySymbol{
    font-size: 16px;
}
p.woocommerce-mini-cart__total.total {
/*
    text-align: center;
    background-color: #f3f3f3;
    padding-bottom: 15px;
    display: none;
*/
    margin: 10px 0;
}
.mini-cart-buttons{
/*    padding-top: 15px;*/
}
.woocommerce-mini-cart__buttons {
    display: flex;
    justify-content: space-evenly;
}
.woocommerce-mini-cart__buttons .button {
    float: none;

    margin-top: 0;
    padding: 7px 35px;
}

.mini-cart-quantity {
    display: inline-block;
}

.mini-cart-quantity span.actual-quantity {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}

.set-item-quantity {
    display: none;
}
.topicon.wishlisticon {
    position: relative;
}
.mini-count, .wishlist-count {
    position: absolute;
    top: 3px;
    text-align: center;
    right: -4px;
    font-size: 10px;
    background-color: #ab8d83;
    border-radius: 10px;
    padding: 0 5px;
    color: white;
}
.mini-count{
    top: 0;
}
.cart-padding {
    padding-top: 20px;
}
.topicon.minicart .mini-cart-wrapper .widget_shopping_cart_content .bu-button.wide{
    display: block;
    margin: 0 10px;
    font-size: 16px;
}
.mini-cart-cart-link {
    text-decoration: underline;
    margin-top: 15px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.free-shipping-from {
    border-top: 1px solid #c3c3c3;
    margin-top: 11px;
    padding-top: 6px;
}

.free-shipping-from .add-more {
    display: block;
}

.free-shipping-from .free-shipping {
    font-size: 14px;
    line-height: 12px;
    display: block;
}

ul.woocommerce-mini-cart {
    overflow-y: scroll;
    margin-right: 2px;
}

.mini-product-price .amount.old-price {
/*    display: none;*/
}


@media screen and (max-width: 768px) {
    .mini-cart-wrapper {
        left: 0;
    }

    .mini-cart-buttons {
        display: flex;
        justify-content: center;
        padding-top: 13px;
    }

    .mini-cart-buttons a {
        width: 38%;
    }

    .mini-cart-cart-link {
        background-color: #FFF;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin: 0;
        padding-top: 3px;
        font-size: 16px;
        text-decoration: none;
    }

    .mini-image {
        width: 50%;
        margin-right: 15px;
    }

    .mini-image a img {
        width: 60% !important;
    }

    .mini-details .quantity {
        position: absolute;
        left: 60px;
        top: -4px;
    }
    .mini-details .amount .woocommerce-Price-currencySymbol {
        font-size: 12px;
    }
    ul.woocommerce-mini-cart li a.remove_from_cart_button {
        top: 0px;
        left: 26px;
    }

    .woocommerce-Price-amount.amount {
        font-size: 12px !important;
        font-weight: bold;
    }
    .mini-cart-message {
        padding: 5px 0;
    }
    .mini-cart-message span{
        font-size: 12px;
    }
    .mini-cart-wrapper {
        top: 40px;
    }
    .mini-cart-quantity span.actual-quantity {
        font-size: 12px;
    }
    ul.woocommerce-mini-cart {
        padding: 15px 10px 1px;
    }
    .mini-name {
        font-size: 12px;
    }
    ul.woocommerce-mini-cart li.woocommerce-mini-cart-item {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    p.woocommerce-mini-cart__total.total {
        display: none;
    }
    .topicon.minicart .mini-cart-wrapper .widget_shopping_cart_content .bu-button.wide {
        display: block;
        margin: 0 -4px 0 10px;
        padding: 3px 10px;
    }
    .free-shipping-from {
        margin-top: 15px;
    }
    .free-shipping-from .free-shipping {
        line-height: 9px;
    }
}
