
.widget_shopping_cart_content {
    padding-bottom: 15px;
}
.woocommerce-mini-cart__empty-message
{
    text-align: center;
}

.mini-cart-handle {
    padding: 30px;
    text-align: right;
}

.mini-cart-handle a {
    cursor: pointer;
}
p.cart-invite {
    font-size: 21px;
    padding: 30px 0 0;
}
a.get-started {
    font-size: 20px;
    padding: 5px 30px;
}
a.get-started span {

}

.mini-cart-message {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
    background-color: #e7dedb;
    margin: 0;
}

.mini-cart-wrapper {
    background-color: #e7e7e7;
    position: absolute;
    z-index: 9;
    display: none;
    min-width: 300px;
    top: 34px;
    right: -50px;
}
.topicon.minicart {
    position: relative;
}
ul.woocommerce-mini-cart {
    list-style-type: none;
    max-height: 465px;
    direction: ltr;
    padding: 30px 10px 1px;
    margin: 0;
    background-color: #f3f3f3;
}
.mini-cart-toggle {
    cursor: pointer;
}
ul.woocommerce-mini-cart li.woocommerce-mini-cart-item {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    text-align: right;
    border-bottom: 1px solid #e1e1e1;
}

ul.woocommerce-mini-cart li img.attachment-woocommerce_thumbnail {
    width: 120px;
    margin: 0 0 0 10px;
    height: auto;
}
.mini-thumb, .mini-name, .mini-details {
    /*float: right;*/
}
.mini-name, .mini-details {
    width: 100%;
    text-align: right;
}
.mini-name {
    color: #000;
    font-weight: 900;
    display: block;
    width: 100%;
    padding: 0;
}
ul.woocommerce-mini-cart li a.remove_from_cart_button {
    position: absolute;
    top: 6px;
    left: 8px;
    color: black;
    font-size: 45px;
    font-weight: 100;
    line-height: 10px;
}
ul.woocommerce-mini-cart li a.remove_from_cart_button:hover {
    text-decoration: none;
}
.mini-details .variation{
    display: none;
}
.mini-details .quantity {
    display: block;
}
.mini-details .amount {
    font-size: 18px !important;
}
.mini-details .amount .woocommerce-Price-currencySymbol {
    font-size: 14px;
}

p.woocommerce-mini-cart__total.total {
    text-align: center;
    background-color: #f3f3f3;
    padding-bottom: 15px;
}

.woocommerce-mini-cart__buttons {
    display: flex;
    justify-content: space-evenly;
}
.woocommerce-mini-cart__buttons .button {
    float: none;

    margin-top: 0;
    padding: 7px 35px;
}

.mini-cart-quantity {
    display: inline-block;
}

.mini-cart-quantity span.actual-quantity {
    display: inline-block;
}

.set-item-quantity {
    display: none;
}
.topicon.wishlisticon {
    position: relative;
}
.mini-count, .wishlist-count {
    position: absolute;
    top: 0;
    text-align: center;
    right: -2px;
    font-size: 13px;
    background-color: #ab8d83;
    border-radius: 10px;
    padding: 0 6px;
    color: white;
}
.cart-padding {
    padding-top: 20px;
}
.topicon.minicart .mini-cart-wrapper .widget_shopping_cart_content .bu-button.wide{
    display: block;
    margin: 0 10px;
}
.mini-cart-cart-link {
    text-decoration: underline;
    margin-top: 15px;
    display: block;
}

.free-shipping-from {
    border-top: 1px solid #c3c3c3;
    margin-top: 10px;
    padding-top: 10px;
}

.free-shipping-from .add-more {
    display: block;
}

.free-shipping-from .free-shipping {
    font-size: 12px;
    line-height: 12px;
    display: block;
}

ul.woocommerce-mini-cart {
    overflow-y: scroll;
    margin-right: 2px;
}


@media screen and (max-width: 768px) {
    .mini-cart-wrapper {
        left: 0;
    }

    .mini-cart-buttons {
        display: flex;
        justify-content: center;
    }

    .mini-cart-buttons a {
        width: 44%;
    }

    .mini-cart-cart-link {
        background-color: #FFF;
        font-weight: bold;
        text-align: center;
        color: #000;
        margin: 0;
        padding-top: 5px;
    }

    .mini-image {
        width: 50%;
    }

    .mini-image a img {
        width: 100% !important;
    }

    .mini-details .quantity {
        position: absolute;
        left: 30px;
    }

    a.remove_from_cart_button {

    }

    .woocommerce-Price-amount.amount {
        font-size: 18px !important;
    }
}