
.gtModal {
    background: transparent;
    margin-top: 40px;
}

.gtModal .modal-content {
    background: url(../images/gold-frame.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0;
    outline: 2px solid white;
    z-index: 2;
    padding: 20px;
}
.gtModal#registerModal .modal-dialog {
    width: 600px;
}
.gtModal#registerModal .modal-dialog .modal-content{
    padding: 20px 60px;
}

.gtModal .modal-dialog {
    background: #fff;
/*    background: rgba(255, 255, 255, 1) url(../images/myaccount-frame.png);*/
    background-size: 100%;
    padding: 12px 10px 11px 15px;
    position: relative;
    background-repeat: no-repeat;
    width: 543px;
    margin-top: 10px;
}
.popup-phone{
    width: 100% !important;
    float: right;
}
.popup-phonecode{
    width: 25%;
    float: right;

}
.popup-phonecode select {
    border: 1px solid #000;
    border-right: none;
    width: 100%;
    margin: 5px 0;
    padding: 12px 15px 10px;
    font-size: initial;
    font-size: 12px;
    font-weight: bold;
    background-color: #fff;
}

.popup-firstname, .popup-lastname{
    width: 48% !important;
}
.popup-firstname{
    float: right;
}
.popup-lastname{
    float: left;
}
.join-us-container label{
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    line-height: 1;
}
.join-us-container label span, .join-us-container label span a{
    font-size: 14px;
}
.join-us-container label input[type='checkbox']{
        margin-right: -2px;
    position: relative;
    top: 3px;
}
.join-us-container button{
    width: auto;
    background: #000;
    color: #fff;
    border: none;
    padding: 6px 60px;
    margin-top: 17px;
    margin-bottom: 4px;
    cursor: pointer;
    font-weight: bold;
}

.gtModal .popup-image {
    width: 100%;
}

.gtModal.shviroPopup .modal-content {
    background-color: #1e1e1e;
    opacity: .9;
    outline: 0;
}

.gtModal.shviroPopup .sh-title.smaller.white {
    color: white;
}

.gtModal.shviroPopup .sh-title.smaller.white sub {
    font-size: 80px;
    bottom: -60px;
    right: -50px;
    color: #fdba12;
}
.gtModal.shviroPopup .buttons-wrapper {
    margin-top: 20px;
    color: #FFFFFF;
    font-weight: 100;
    font-size: 20px;
}
.gtModal.shviroPopup .buttons-wrapper {
    justify-content: flex-end;
}
.gtModal.shviroPopup .buttons-wrapper a.button {
    float: left;
    background-color: #19c6eb;
    color: #FFFFFF;
}
.gtModal .modal-bg-grey {
    background-color: #1e1e1e;
    position: absolute;
    top: -20px;
    left: 20px;
    right: -20px;
    bottom: 20px;
    opacity: 0.7;
}

.gtModal .woocommerce-product-gallery__image img {
    width: 100%;
    height: auto;
}

.gtModal button.close{
    position: absolute;
    right: 13px;
    top: 3px;
    opacity: 1;
    
}
.gtModal button.close span{    
    font-size: 32px;
    
/*    color: white;*/
}
.sh-title.smaller.white {
    padding: 0;
    font-size: 55px;
    margin-bottom: 40px;
}
.sh-title.smaller.white sub {
    font-size: 60px;
    bottom: -24px;
    right: -50px;
    color: #FFFFFF;

}
.gtModal .product_title.entry-title{
    font-size: 24px;
    border-bottom: 1px solid;
}
.gtModal .buttons-wrapper{
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gtModal .buttons-wrapper a.button
{
    background-color: white;
    border-radius: 25px;
    padding: 10px 25px;
    margin-top: 15px;
    display: block;
    font-size: 20px;
}
.gtModal .buttons-wrapper h1{
    flex-basis: 100%
}


    .tooltip-mail, .tooltip-phone{
        display: none;
    }
    .tooltip-phone{
        position: absolute;
        top: 162px;
        right: 15px;
        width: 67px;
    }
    .tooltip-phone .tooltip-phone-text{
        font-size: 10px;
        line-height: 14px;
        margin-top: 7px;
    }
    .tooltip-mail{
        position: absolute;
        top: 229px;
        right: 15px;
        width: 67px;
    }
    .tooltip-mail .tooltip-mail-text{
        font-size: 10px;
        line-height: 14px;
        margin-top: 7px;
    }
    .popup-firstname-field, .popup-lastname-field, .popup-phone-field, .popup-mail-field, .popup-password, .popup-confirm-password{
        position: relative;
    }
    .error{
        font-size: 14px;
    }
    span.error_terms {
        position: absolute;
        right: 0;
        bottom: -13px;
    }

    label.bd-terms {
        position: relative;
    }
    .new_password, .confirm_new_password{
        position: relative;
    }
    .closed-eye{
        position: absolute;
        left: 15px;
        top: 20px;  
        width: auto !important;
    }
    .opened-eye{
        position: absolute;
        left: 15px;
        top: 15px;
        display: none;
        width: auto !important;
    }
    

    .join-us-container {
        margin: 0px auto;
        width: 500px;
        text-align: center;
    }

    .join-us-container h1 {
        direction: ltr;
        margin-top: -3px;
        margin-bottom: 5px;
    }

    .gtModal .modal-dialog .modal-content .join-us-container form {
        width: 85%;
        text-align: center;
        margin: auto;
    }
    
    .bd-terms{
        margin: 0;
        float: right;
        margin-top: -4px;
    }
    .bd-terms a{
        text-decoration: underline;
    }
  .gtModal .modal-dialog .modal-content input[type='text'], .gtModal .modal-dialog .modal-content input[type='password'] {
        width: 100%;
        border: 1px solid black;
        margin: 15px 0 0 0;
        padding: 11px 15px 7px;
        font-size: 14px
    }

    p.validation {
        text-align: right;
        padding-right: 40px;
        color: #ce1f16;
    }
    .mc4wp_approve input[type="checkbox"] {
      position: absolute;
      right: 0px;
      top: 13px;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    }
    .mc4wp_approve input[type="checkbox"] + span:before {
        content: '\00f096';
        font-family: FontAwesome;
        margin-left: 10px;
        font-size: 18px;
        line-height: 1.8;
        display: block;
        float: right;
    }

    .mc4wp_approve input[type="checkbox"]:checked + span:before {
        content: '\00f046';
        font-family: FontAwesome;
        margin-left: 7px;
    }
    
    _input[type="checkbox"] + span:before, _.f-newsletter .newsletter-form input[type="checkbox"] + label:before {
      font: 12pt FontAwesome;
      content: '\00f096';
      display: inline-block;
        margin-right: -32px;
        padding-left: 5px;
/*      width: 16pt;*/
        position: relative;
        top: 3px;
    }
    _input[type="checkbox"]:checked + span:before, _.f-newsletter .newsletter-form input[type="checkbox"]:checked + label:before {
        content: '\00f046';   
        margin-right: -15px;
    }
    .f-newsletter .newsletter-form span a {
       text-decoration: underline;
    }
/*-------------------- Reset Password ----------------------*/
.passReset {
    background: transparent;
    margin-top: 70px;
}
.passReset .modal-content {
    border: 0;
    border-radius: 0;    
    z-index: 2;
    padding: 50px;
    background: #f7f2ef;
    text-align: center;
}
.passReset .modal-dialog {
    position: relative;
    width: 100%;
}
.passReset-form{
    display: flex;
}
.passReset-submit{
    width: 40%;
    margin-right: -7px;
}
.passReset-submit input{
    background: #000;
    color: #fff;
}
.passReset-form input{    
    padding: 10px 10px 7px 10px !important;
    border: 1px solid #000 !important;
    font-weight: normal !important;
    margin: 0 !important;
    font-size: initial !important;
    flex: 1;
    height: 42px !important;
}
.passReset-form input::placeholder, .join-us-container #registrationForm input::placeholder{    
    font-weight: normal;
}
.passReset-form .passReset-mail span.wpcf7-not-valid-tip{    
    position: absolute;
    top: 3px;
    left: 10px;
    width: max-content;
    color: rgb(0, 0, 204);
    font-size: 10px;
}

.passReset-form button{
    padding: 10px 10px 8px 10px;
    background: #000;
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.passReset-form div button.tony-button.full-width.sharp-corners{
    display: none;
}
.passReset .reset_password h1, .passReset h1.passReset-title-thankyou{
    font-size: 22px;
}
.passReset .passReset-text, .passReset .passReset-text-thankyou{
    margin: 40px 0;
}
.passReset .passReset-img img{
    width: auto;
}
.passReset .passReset-text-thankyou{
    margin: 20px 0 0;
}
.passReset .reset_password-thankyou{
    width: 80%;
    margin: auto;
}
.passReset .passReset-text p, .passReset .passReset-text-thankyou p{
    font-weight: bold;
    letter-spacing: 0.2px;
}
.passReset .passReset-text-thankyou p{
    font-weight: normal;
    letter-spacing: 0.2px;
}
.passReset-link-thankyou a{
    text-decoration: underline;
}
.passReset-link-thankyou{
    margin-top: 85px;
}
.passReset button.close{
    position: absolute;
    right: 20px;
    top: 10px;
    opacity: 1;    
}
.passReset .reset_password{
    width: 80%;
    margin: auto;
}
.passReset .reset_password .passReset-img img{
    width: auto;
}
.passReset button.close span{    
    font-size: 48px;
}
.passReset .reset_password .ResetPassword h2, .passReset .reset_password .ResetPassword .woocommerce_lost_password_message{
    display: none;
}
.passReset .reset_password .ResetPassword{
    margin: 0;
    max-width: 100%;
    flex: 100%;
}
.passReset .reset_password .ResetPassword p.form-row {
    width: 36%;
    margin: 0;
}
.passReset .reset_password .ResetPassword p.form-row.form-row-first {
    width: 65%;
}
.passReset .reset_password .ResetPassword p.form-row input.input-text, .passReset .reset_password .ResetPassword p.form-row button.button{
    width: 100%
}
.passReset .reset_password .ResetPassword form {
    display: flex;
}
.passReset .reset_password .ResetPassword form p{
    display: flex;
}
.passReset .reset_password .ResetPassword p.form-row button.button{
    padding: 10px 10px 7px 10px !important;
    border: 1px solid #000 !important;
    font-weight: normal !important;
    margin: 0 !important;
    font-size: initial !important;
    cursor: pointer;
}

.passReset .reset_password .ResetPassword p.form-row input.input-text{
    padding: 10px 10px 7px 10px !important;
    border: 1px solid #000 !important;
    font-weight: normal !important;
    margin: 0 !important;
    font-size: initial !important;
}

@media screen and (max-width: 768px){
    .passReset .modal-dialog {
        margin: 0 auto;
    }
    .passReset .modal-content {
    padding: 30px 0;
}
    .passReset-form button {
    font-size: 1.7vw;
        height: 42px;
}
}
@media screen and (max-width: 670px){
    .passReset-form button {
    font-size: 2vw;
}
}
