.category-filters, .category-controls {
    display: flex;
    flex-wrap: wrap;
}
.archive-filter .archive-filter-content, .price_slider_wrapper {
    display: none;
}
.archive-filter ul {
     display: none;
 }
.archive-filter .archive-filter-content ul {
    display: inherit;
}
.archive-filter-content {
	width: 100px;
}
.archive-filter-content.visible, .price_slider_wrapper.visible {
    display: block;
}

.archive-filter .archive-filter-content ul::-webkit-scrollbar {
    width: 5px;
    margin-right: 5px;
}

.archive-filter .archive-filter-content ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #f3f3f3;
}

.archive-filter .archive-filter-content ul::-webkit-scrollbar-thumb {
    background-color: #CCCCCC;
    outline: 3px solid #CCCCCC;
}

.category-filters {
    justify-content: center;
/*    justify-content: space-between;*/
    width: 100%;
}
.category-filters .desktop-orderby{
    margin-left: 15px;
	z-index:1001;
}
.desktop-filtering {
    display: contents;
}
.control.filter, select.orderby {
    min-width: 160px;
    border: 1px solid #000;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    cursor: pointer;
    background-color: #f8f8f8;
}

.price-filter-amounts {
    direction: ltr;
    display: inline-block;
    font-size: 14px;
}

.archive-filter h2.active, .archive-filter .archive-filter-title.active {
    background-image: url('../images/drop_up.png');
}

select.orderby {
    background-image: url('../images/drop.png');
    background-repeat: no-repeat;
    background-position: 15px center;
    margin-left: 37px;
    padding: 5px 10px 4px 80px;
    background-size: 14px;
    font-size: 14px;
    font-weight: bold;
}
select.orderby option{
    font-size: 14px;
    font-weight: bold;
}

.archive-filter.has-chosen-items h2, .archive-filter.has-chosen-items .archive-filter-title {
    border-top: 2px solid #c0a451;
    margin-top: -2px;
    padding-top: 10px;
}
.archive-filter h2, .archive-filter .archive-filter-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px 3px 7px 40px;
    background-image: url(../images/drop.png);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px center;
    cursor: pointer;
    background-size: 14px;
    margin-bottom: 0;
    width: max-content;
}

.mobile-filter-container .archive-filter ul, .mobile-filter-container .price_slider_wrapper {
    position: absolute;
    list-style-type: none;
    padding: 0;
    flex-flow: row wrap;
    top: 41px;
    width: 100%;
    z-index: 1001;
    background-color: white;
    -webkit-box-shadow: -5px 10px 10px -1px rgba(212, 212, 212, 0.73);
    -moz-box-shadow: -5px 10px 10px -1px rgba(212, 212, 212, 0.73);
    box-shadow: -5px 10px 10px -1px rgba(212, 212, 212, 0.73);
    display: none;
}
.archive-filter ul, .price_slider_wrapper {
    top: auto;
}
.price_slider_wrapper {
    width: 200px;
    border-top: 1px solid #ebebeb;
    padding: 15px 15px 60px 15px;
}

.price_slider_wrapper button {
    position: absolute;
    width: calc(100% - 30px);
    border: 0;
    background-color: black;
    color: white;
    display: inline-block;
    right: 15px;
    bottom: 10px;
}
.price_slider_wrapper .price_label, .price_slider_wrapper .price_label span {
    font-size: 14px;
}
.ui-slider-horizontal .ui-slider-handle {
    border: 1px solid #000000;
    background: #000000;
    width: 10px;
    height: 10px;
    border-radius: 8px;
}

.ui-slider-horizontal {
    height: 2px;
    margin: 8px 0;
}

.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
    background-color: black;
    border: 1px solid black;
}

.archive-filter ul li {
    list-style-type: none;
    font-weight: 100;
    border-bottom: 1px solid #ebebeb;
    padding: 8px 10px;
    margin-left: 0;
    margin-top: 0;
}
.archive-filter ul li a{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.archive-filter ul li a.layered-image img{
    width: 35px;
}
.archive-filter .clearFilter a {
    text-align: center;
    display: block;
    font-size: 13px;
}

ul.gt-orderby  {
    padding-right: 0;
}
.archive-filter .submitFilter a{
    background: #000;
    color: #fff!important;
    font-weight: normal;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: center;
}
.archive-filter .submitFilter a:hover{
    color: #fff;
}
.mobile-sort-container ul li {
    list-style-type: none;
}
.mobile-sort-container ul li.chosen a {
    text-decoration: underline;
}
a.layered-image img {
    width: 100%;
}

.archive-filter ul li.submitFilter {
    padding: 0;
}
ul.gt-orderby .submitFilter {
    display: none !important;
}
li.submitFilter a {
    background-color: #f6eff0;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding: 5px;
}

.archive-filter ul li span {
    display: none;
}

.archive-filter ul li.chosen {
    background-color: #e1e1e1;
}

.archive-filter ul li span.count {
    font-size: 14px;
}

.category-topbar {
    width: 100%;
    z-index: 2;
    background-color: white;
    display: flex;
    padding: 31px 0px 0;
	position: relative;
    right: 0;
	}

nav.woocommerce-breadcrumb {
    position: absolute;
    left: 0;
    z-index: 3;
    display: inline-block;
    width: auto;
}

p.woocommerce-result-count {
    display: none;
    margin: 0;
}

.products {
    padding-top: 20px;
}

.filter-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 13px 10px 10px;
}

.filter-tag {
    background-color: #f6eff0;
    border-radius: 3px;
    margin: -2px 0 0 13px;
    padding: 1px 15px 5px;
    font-size: 12px;
    font-weight: bold;
}

.filter-tag a {
    margin-right: 40px;
}

.category-filter-mobile {
    margin: 0;
    width: 100%;
}
.category-filter-mobile span.filter {
    display: none;
}

.mobile-filter-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    padding-bottom: 40px;
    z-index: 9993;
    display: none;
    max-height: 100%;
    overflow: scroll;
}

.mobile-filter-container .price_slider_wrapper {
    display: block;
    width: 100%;
    position: static;
}
.mobile-filter-container .price_slider_wrapper .price_label {
    text-indent: -99999999px;
}
.mobile-sort-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #FFF;
    padding-bottom: 40px;
    z-index: 1005;
    display: none;
}
.mobile-filter-container .price_slider_wrapper .price_label span {
    text-indent: 0;
    position: absolute;
    font-size: 20px;
    padding-top: 10px;
}
.mobile-filter-container .ui-slider-horizontal .ui-slider-handle {
    border: 1px solid #000000;
    background: #000000;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    top: -9px;
}
.mobile-filter-container .price_slider_wrapper .price_label span.from {
    left: 15px;
    font-size: 18px;
}
.mobile-filter-container .price_slider_wrapper .price_label span.to {
    right: 15px;
    font-size: 18px;
}
.mobile-filter-title
{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
    background: #f3f3f3;
}

.mobile-filter-title a.back
{
    left: 10px;
    position: absolute;
    width: 10px;
    top: 23px;
}
.mobile-filter-title a.back img {
    max-width: 100%;
}

.mobile-filter-close
{
    text-align: center;
    font-size: 16px;
    background: #e9e1df;
    padding: 5px;
    cursor: pointer;
}

.mobile-filter-close a.close-filter img {
    width: 12px;
}

.mobile-filter-options .archive-filter {
    margin: 0;
}

.mobile-filter-options .archive-filter h2, .mobile-filter-options .archive-filter .archive-filter-title {
    border-top: 1px solid #f3f3f3;
    border-bottom: 0;
    background-image: url(../images/filter-right.png);
    background-position: 98% center;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.mobile-filter-options .archive-filter.active h2, .mobile-filter-options .archive-filter.active .archive-filter-title {
    background-image: url('../images/drop_up.png');
    background: #ebebeb;
}

.mobile-filter-options .archive-filter.active ul {
    display: flex;
    position: static;
    box-shadow: none;
    justify-content: space-evenly;
    padding: 0 4%;
}
.mobile_banner_image{
    display: none;
}
.mobile_banner_image img{
    max-width: 100%;
}

.archive-filter {
    margin: 0;/*10px 0 15px -20px;*/
    position: relative;
}


.desktop-filtering .archive-filter:last-child {
    margin-left: 0;
}

.category-filter-mobile, .category-sort-mobile {
    display: none;
}

form.woocommerce-ordering {
    display: none;
}
.category .order-by{
    /*width: 16%;*/
}
.category .archive-filter.order-by.has-chosen-items h2, .category .archive-filter.order-by.has-chosen-items .archive-filter-title{
    border: 1px solid black;
    margin-top: 0;
    padding: 8px 3px 7px 45px;
    background-color: #f8f8f8;
}
.category .results-found{
    display: none;
}
.category .products{
    padding-top: 45px;
}
.category .products .product-info{
    margin-top: 12px;
}
.category .products .product-info .title{
    font-size: 16px;
}

.mobile-filter-options .archive-filter .price_slider_wrapper {
    display: none;
}
.mobile-filter-options .archive-filter.active .price_slider_wrapper {
        display: block;
    width: 90%;
    margin: 10px auto 0;
    box-shadow: none;
    border: none;
    padding-bottom: 80px;
}

.mobile-filter-options .price_slider_wrapper button {
    bottom: 7px;
    width: 82.81%;
    margin: 0 auto;
    display: block;
    right: 0;
    left: 0;
    margin-bottom: 2px;
}

.mobile-filter-options .ui-widget.ui-widget-content {
    margin: 10px auto 0;
}

.mobile-filter-container .ui-slider-horizontal .ui-slider-handle {
    width: 15px;
    height: 15px;
}

_li.wc-layered-nav-term a.attr-pa_color::after {
   content: attr(data-term_name);
    margin-right: 10px;
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .archive-filter ul.filter-for-pa_color li.chosen:after {
        content: "✓";
        display: block;
        width: 60px;
        height: 60px;
        background: rgba(0,0,0,0.3);
        position: absolute;
        top: 12px;
        border-radius: 100px;
        color: #fff;
        font-size: 38px;
        font-family: Heebo;
        padding-top: 5px;
    }
    li.wc-layered-nav-term a.attr-pa_color::after {
        margin-right: 0;
    }

    .archive-filter ul li.chosen {
        background: none;
    }
    .archive-filter ul.filter-for-pa_size li.wc-layered-nav-term, .archive-filter ul.filter-for-pa_גובה-עקב li.wc-layered-nav-term {
        border: 1px solid #000;
        border-radius: 0;
        padding: 15px 10px;
    }
    .mobile-filter-options .archive-filter.active ul.woocommerce-widget-layered-nav-list.filter-for-pa_size, .mobile-filter-options .archive-filter.active ul.woocommerce-widget-layered-nav-list.filter-for-pa_גובה-עקב {
        padding-top: 15px;
    }

    .category-filter-mobile {
        margin-right: 20px;
        flex: 1;
    }
    .archive-filter ul li a.layered-image img{
        width: 60px;
        border-radius: 100px;
        height: 60px;
    }
    .archive-filter ul li {
        flex-basis: 18%;
        padding: 3.5% 1%;
        border-radius: 100px;
        border: none;
        margin: 3%;
        text-align: center;
    }
    .mobile-filter-container .archive-filter ul li.chosen {
        background: #000;
        color: #fff;
    }

    .mobile-filter-container .archive-filter ul li.chosen a {
        color: #fff;
    }

    .archive-filter ul li a {
        font-size: 16px;
        line-height: 18px;
        justify-content: center;
    }
    ul.filter-for-pa_color li {
       margin-bottom: 0;
       display: flex;
       justify-content: center;
       align-items: center;
       width: 60px;
       height: 60px;
       flex-basis: 60px;
    }



    .mobile-filter-container .archive-filter ul.filter-for-pa_color li.chosen img {
        padding: 2px;
    }
    .archive-filter .archive-filter-buttons {
        width: 100%;
        margin: 5px;
    }
    .archive-filter .archive-filter-buttons a, .price_slider_wrapper button {
        background: #f6eff0;
        color: #000;
        height: 50px;
        line-height: 42px;
    }
    .archive-filter .archive-filter-buttons {
        display: block;
        width: 100%;
        flex-basis: 100%;
        border-radius: 0;
        border: none;
        margin: auto;
    }
    .clearFilter {
        display: none;
    }
    .category-order-by {
        display: none;
    }
    .category .products .product-info h1.title{
        font-size: 12px;
    }

    .product-wrapper span.old-price span.amount,
    .product-wrapper span.new-price span.amount,
    .product-wrapper span.price span.amount
    {
        font-size: 12px !important;
    }


    .category-filter-mobile, .category-sort-mobile, .category-filter-mobile span.filter, .category-sort-mobile span.filter {
        display: block;
    }

    .category-filters {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        padding: 20px 0;
        display: none;
    }

    .category-sort-mobile {
        flex: 1;
    }

    .category-sort-mobile span.filter {
        border: 1px solid #000;
        background-color: #f8f8f8;
        cursor: pointer;
        padding: 10px 10px 9px 10px;
        font-size: 14px;
        font-weight: bold;
        background-image: url('../images/drop.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: 8%;
    }

    .category-filter-mobile span.filter {
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        background-color: #f8f8f8;
        background-image: url('../images/filter.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        cursor: pointer;
        padding: 10px 10px 9px 10px;
        background-size: 17%;
        font-size: 14px;
        font-weight: bold;
    }

    nav.woocommerce-breadcrumb, .category-topbar {
        position: relative;
        margin: 0;
        padding: 0;
    }

    select.orderby {
        width: 100%;
        margin: 0;
    }

    .category-controls {
        display: block;
    }

    .control.filter {
        margin-bottom: 10px;
    }

    .category-filters {
        flex-wrap: wrap;
    }
    .mobile_banner_image{
        display: block;
        position: relative;
    }
    .mobile_banner_image h1.bold{
        position: absolute;
        width: 100%;
        text-align: center;
        color: #fff;
        top: 25%;
        top: 30%;
        font-size: 5vw;
    }
    .mobile_banner_image .mobile_category_description{
        position: absolute;
        width: 100%;
        text-align: center;
        color: #fff;
        top: 60%;
        font-size: 2vw;
    }
    .mobile-filter-options .archive-filter.active ul.mobile-filter-size {
        padding: 0 23%;
    }
    .archive-filter ul.mobile-filter-size li {
        list-style-type: none;
        border: 1px solid #4b4b4b;
        padding: 23px 27px;
        margin: 16px;
    }
    .archive-filter ul.mobile-filter-size li a{
       font-size: 20px;
        font-weight: normal;
    }
    .mobile-filter-options .archive-filter.active ul.mobile-filter-color li{
        width: 16%;
        max-width: 100px;
    /*  margin: auto;*/
        background: #ededed;
        overflow: hidden; /* clearfix */
        border-radius: 50%;
        position: relative;
        border: none;
        padding: 0;
        margin-left: 10px;
    margin-top: 10px;
    }
    .mobile-filter-options .archive-filter.active ul.mobile-filter-color li:before{
        content: "";
        padding-top: 100%;
        float: left;
    }
    .mobile-filter-options .archive-filter.active ul.mobile-filter-color li a{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 70%;
    }
    .mobile-filter-options .archive-filter.active ul.mobile-filter-brand li, .mobile-filter-options .archive-filter.active ul.mobile-filter-material li{
        border: none;
        margin-left: 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    .mobile-filter-options .archive-filter.active ul.mobile-filter-brand li:last-child, .mobile-filter-options .archive-filter.active ul.mobile-filter-material li:last-child{
        border-bottom: none;
    }
    .mobile-filter-options .archive-filter.active ul.mobile-filter-height li {
        border: 1px solid #ebebeb;
    }

}

.price_slider_wrapper .price_label span {direction:ltr;unicode-bidi:embed; }
.desktop-filtering .archive-filter {
    margin: 0 1.1vw;
}
.desktop-filtering .archive-filter ul {
	max-height:250px;
	overflow-y:auto;
	width: 100%;
    padding: 0;
}

.desktop-filtering .archive-filter {
    width: 110px;
    margin: 0 10px;
}

.desktop-filtering .archive-filter .archive-filter-title.widgettitle {
    width: 100px;
    padding-left: 0;
}

@media screen and (min-width: 990px) {
.showonsale { padding-top:5px;}
}
@media (min-width: 769px) and (max-width: 992px) {
    .archive-filter h2, .archive-filter .archive-filter-title {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0;
    }
    .desktop-filtering {
        display: inherit;
    }
    .desktop-filtering .archive-filter {
    margin: 0 1%;
}
}
